{% extends "baseInterior.html" %}
{% load staticfiles %}

  {% block Titulo %}
    Ingresar Puestos
  {% endblock Titulo %}
  {% block CSS %}
    <link rel="stylesheet" type="text/css" href="{% static "interior/css/ingresarPuesto.css" %}">

  {% endblock CSS %}

  {% block Body %}
  {%if alerta %}
    <p class="alert alert-success text-center" id="crearPuesto"><b>{{alerta}}</b></p>
  {%endif%}
  {%if error %}
    <p class="alert alert-danger text-center" id="errorPuesto"><b>{{error}}</b></p>
  {%endif%}

    <div class="limiter">
    <div class="container-login100">
      <div class="wrap-login100">
          <div class="login100-form-title">
            <span class="login100-form-title-1">
              <h2>ACTUALIZAR PUESTO</h2>
            </span>
          </div>
        <!-- Formulario -->
      <b><center>{{validar}}</center></b>

      <form class="login100-form validate-form" action="" method="POST" role="form" enctype="multipart/form-data" accept-charset="UTF-8">
              {% csrf_token %}

              <div class="wrap-input100 validate-input m-b-26" data-validate="Puesto es un campo requerido.">
          <span class="label-input100">Puesto </span>
          <input class="input100" type="text" placeholder="Ingresa Nombre del puesto" id="nombre" name="nombre" value="{{puesto.nombre}}" pattern="[a-zA-Z]{1-15}">
          <span class="focus-input100"></span>
        </div>

              <div class="wrap-input100 validate-input m-b-26" data-validate="Salario Base es un campo requerido.">
          <span class="label-input100">Salario Base </span>
          <input class="input100" type="number" placeholder="Ingresa Salario Base" id="salario" name="salario" value="{{puesto.salario}}"required="required" min="0">
          <span class="focus-input100"></span>
        </div>

        <div class="container-login100-form-btn">
          <button class="login100-form-btn" type="submit">
            Actualizar
          </button>
        </div>

      </form>
          
    </div>
  </div>
  </div>
  {% endblock Body %}