{% extends "baseInterior.html" %}
{% load staticfiles %}

	{% block Titulo %}
		Ingresar Puestos
	{% endblock Titulo %}

	{% block Body %}
	{%if alerta %}
 		<p class="alert alert-success text-center" id="crearPuesto"><b>{{alerta}}</b></p>
 	{%endif%}
	{%if error %}
 		<p class="alert alert-danger text-center" id="errorPuesto"><b>{{error}}</b></p>
 	{%endif%}

	<h3>CREAR PUESTO</h3>

	<!-- Formulario -->
	<div class="row">
        <div class="col-md-6">
          <div class="block-web">
            <div class="header">
              <!--<div class="actions"> <a class="minimize" href="#"><i class="fa fa-chevron-down"></i></a><a class="close-down" href="#"><i class="fa fa-times"></i></a> </div>-->
              <h3 class="content-header">Datos Puesto</h3>
            </div>
			<b><center>{{validar}}</center></b>
			<div class="porlets-content">
				<form action="" method="POST" role="form" enctype="multipart/form-data" accept-charset="UTF-8" class="form-horizontal row-border" >
		            {% csrf_token %}
				<div class="form-group">
                  <label class="col-sm-3 control-label">Nombre Puesto</label>
                  <div class="col-sm-9">
						<input class="form-control" type="text" placeholder="Ingresar Puesto" id="nombre" name="nombre" pattern="[a-zA-Z]{1-15}" required="requirede">
                  </div>
                </div><!--/form-group--> 


                <div class="form-group">
                  <label class="col-sm-3 control-label">Salario Base</label>
                  <div class="col-sm-9">
                  	<input class="form-control" type="number" placeholder="Ingresar Salario Base" id="salario" name="salario" min="0" step=".01" required="">
                  </div>
                </div><!--/form-group--> 

                <div class="bottom">
                  <button type="submit" class="btn btn-success">Crear Puesto</button>
                </div><!--/form-group-->

		        </form>
	    	</div>
		</div>
	</div>
</div>

	{% endblock Body %}