{% load staticfiles %}
<!DOCTYPE html>
<html lang="es">

  <head>

    <!--META-->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>
        {% block Titulo %} SIGPAd {% endblock Titulo %}
    </title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" type="text/css" href="{% static 'interior/css/admin.css'%}">
    <link href="{% static 'exterior/vendor/bootstrap/css/bootstrap.min.css'%}" rel="stylesheet">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <!-- Custom fonts for this template -->
    <link href="{% static 'exterior/vendor/fontawesome-free/css/all.min.css'%}" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">

    <!-- Plugin CSS -->
    <link href="{% static 'exterior/vendor/magnific-popup/magnific-popup.css'%}" rel="stylesheet" type="text/css">

    <!-- Custom styles for this template -->
    <link href="{% static 'exterior/css/freelancer.css'%}" rel="stylesheet">

    {% block CSS %} {% endblock CSS %}

    {% block cssMensaje %}{% endblock %}

  </head>

  <body id="page-top">
    {% block Navegacion %}
    {% endblock Navegacion %}
    
    {% block Body %} 
    {% endblock Body %}    

    {% block pestania %}
    {% if user.is_authenticated %}
        <button id="btn_prueba" class="btn btn-primary">fkjfjsfs</button>
        <div id="prueba"></div>
    {% endif %}
    {% endblock %}

    <!-- Bootstrap core JavaScript -->
    <script src="{% static 'exterior/vendor/jquery/jquery.min.js'%}"></script>
    <script src="{% static 'exterior/vendor/bootstrap/js/bootstrap.bundle.min.js'%}"></script>

    <!-- Plugin JavaScript -->
    <script src="{% static 'exterior/vendor/jquery-easing/jquery.easing.min.js'%}"></script>
    <script src="{% static 'exterior/vendor/magnific-popup/jquery.magnific-popup.min.js'%}"></script>

    <!-- Contact Form JavaScript -->
    <script src="{% static 'exterior/js/jqBootstrapValidation.js'%}"></script>
    <script src="{% static 'exterior/js/contact_me.js'%}"></script>

    <!-- Custom scripts for this template -->
    <script src="{% static 'exterior/js/freelancer.min.js'%}"></script>
    {% block Script %} {% endblock Script %}

    <script type="text/javascript">
        function peticionChat() {
            $.get("/servicio_chat/", function(data, status) {
                var cant = data.length;
                $("#cant").text(cant);
                $("#tienes").text(cant);
                $('#msjUser').empty();
                var v = `
                    <li><a class="py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="/mensajes/0"><font size="1">ver todos</font></a></li>
                    <li>
                    <p class="number" style="color:black;"><font size="1">tienes <span id="tienes">0</span> mensajes</font></p>
                    </li>
                    `
                $(v).appendTo($('#msjUser'));
            for(let i=0;i<=data.length;i++){
              var valor = data[i].fields;
              var lista=`<li >
                        <div>
                        <a href="/mensajes/${valor.enviado}" class="mail"> 
                        <span class="photo">
                          <img id="profile-img" src="{% static "images/user.png" %}"  class="online"  height="40" width="40" />
                        </span> 
                        <span class="subject"> 
                          <span class="from"><font size="1">
                            ${valor.username}</font>
                          </span> 
                          <span class="time"><font size="0.4">
                            ${valor.fecha} </font>
                          </span>  
                        </span> 
                        <span class="message"><font size="1">
                           ${valor.msj}</font>
                        </span> 
                      </a>
                        </div>
                    </li>`;
                $(lista).appendTo($('#msjUser'));
                }
            });
        }
        $(document).ready(function() {
            var refreshId = setInterval(peticionChat, 3000);
            $.ajaxSetup({
                cache: false
            });
        });
        $("#btn_prueba").click(function(){        
            $.get("/mini_chat/2", function(data,status){
                var cant = data.length;
                 $("#prueba").empty();
                for (let i = 0; i <= data.length; i++) {
                    var valor = data[i].fields;
                    var d = document.getElementsByClassName('prueba');
                        var lista = `<li id=""> 
                      <a href="/mensajes/${valor.msj}" class="mail"> 
                        <span class="photo">
                          <img id="profile-img" src="{% static "images/user.png" %}"  class="online"  height="40" width="40" />
                        </span> 
                        <span class="subject"> 
                          <span class="from">
                            ${valor.msj}
                          </span> 
                          <span class="time">
                            justo ahora 
                          </span>  
                        </span> 
                        <span class="message">
                           &nbsp ${valor.msj} &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp
                        </span> 
                      </a> 
                    </li>`;
                        $(lista).appendTo($('#prueba'));
                }
            });

        });
    </script>

  </body>

</html>

