{% extends "baseInterior.html" %}
{% load staticfiles %}
{% block Titulo %}
	Editar Empleado
{% endblock Titulo %}

{% block Body %}

	<h3>EDITAR EMPLEADO</h3>

	<!-- Formulario -->
	<form action="" method="POST" role="form" enctype="multipart/form-data" accept-charset="UTF-8">
	{% csrf_token %}
		<div>
			<span class="label-input100">Puesto:</span>
			<select id="puestoEmpleado" name="puestoEmpleado" class="input100">
				<option id="{{empleado.puesto.nombre}}" value="{{empleado.puesto.nombre}}" selected="selected">{{empleado.puesto.nombre}}</option>
				{% for puesto in puestos %}
					<option id="{{puesto.nombre}}" value="{{puesto.nombre}}">{{puesto.nombre}}</option>
	            {% endfor %}
			</select>
		</div>	

		<div>
			<span class="label-input100">Nombre:</span>
			<input class="input100" type="text" id="nombre" name="nombre" pattern="[a-zA-Z]{1-15}"required="required" value="{{empleado.nombre}}">
		</div>

		<div>
			<span class="label-input100">Apellido:</span>
			<input class="input100" type="text" value="{{empleado.apellido}}" id="apellido" name="apellido" pattern="[a-zA-Z]{1-15}" required="required">
		</div>

		<div>
			<span class="label-input100">Telefóno:</span>
			<input type="text" class="input100" id="telefono" name="telefono" value="{{empleado.telefono}}" pattern="[0-9]{8}" required="required">
		</div>

		<div>
			<span class="label-input100">Fecha de nacimiento:</span>
			<input type="date" class="input100" id="fecha_nacimiento" name="fecha_nacimiento" value="{{empleado.fechaNac}}" required="required">
		</div>

		<div>
			<span class="label-input100">Sexo:</span>
			<select id="sexo" name="sexo" class="input100" value="{{empleado.sexo}}">
				<option id="masculino" value="masculino">Masculino</option>
	            <option id="femenino" value="femenino">Femenino</option>
			</select>
		</div>	

		<div>
			<span class="label-input100">Correo</span>
			<input class="input100" type="email" id="email" name="email" required="required" value="{{empleado.email}}" >
		</div>

		<div>
			{{empleado.foto}}
			{{empleado.foto.url}}
			<div class="col-sm-1 col-md-1">
				{% if empleado.foto %}
	            	<img src="{{empleado.foto.url}}" alt="" class="img-rounded img-responsive"  width="100" height="100" />
	        	{% else %}
	        		<!-- No existe foto -->
	       		{% endif %}
       		</div>
       		{% if empleado.foto %}
       			<label for="foto">Foto: (PNG, JPG, JPEG)</label>
				<input type="file" id="foto" name="foto" accept=".jpg, .jpeg, .png" src="{{empleado.foto.url}}" multiple>
				<input type="image" src="{{empleado.foto.url}}" alt="Submit" width="48" height="48">
       		{% else %}
       			<label for="foto">Foto: (PNG, JPG, JPEG)</label>
				<input type="file" id="foto" name="foto" accept=".jpg, .jpeg, .png" multiple>
       		{% endif %}
		</div>

		<br />
		<div>
			<span class="label-input100">Fecha de Inicio de Trabajo:</span>
			<input type="date" class="input100" id="fecha_trabajo" name="fecha_trabajo" required="required" value="{{empleado.fecha_trabajo}}">
		</div>

		<div>
			<span class="label-input100">DUI:</span>
			<input class="input100" type="text" value="{{empleado.dui}}" id="dui" name="dui" >
		</div>

		<div>
			<span class="label-input100">NIT:</span>
			<input class="input100" type="text" value="{{empleado.nit}}" id="nit" name="nit">
		</div>

		<div>
			<span class="label-input100">AFP:</span>
			<input class="input100" type="text" value="{{empleado.afp}}" id="afp" name="afp" >
		</div>

		<div>
			<span class="label-input100">ISSS:</span>
			<input class="input100" type="text" value="{{empleado.isss}}" id="isss" name="isss">
		</div>


		<div class="container-login100-form-btn">
			<button class="btn btn-success" type="submit">
				Editar Empleado
			</button>
		</div>

	</form>

{% endblock Body %}