{% extends 'baseInterior.html' %}
{% load staticfiles %}
{% block Titulo %}
	Listado de Empleados
{% endblock Titulo %}

{% block Body %}
<table class="table">
    <thead>
      <tr>
        <th>#</th>
        <th>Nombre</th>
        <th>Apellido</th>
        <th>Puesto</th>
        <th>Acciones</th>
        <th>Crear Usuario</th>
      </tr>
    </thead>
    <tbody>
    	{% for empleado in empleados %}
    		<tr>
		      <td>{{empleado.empleado}}</td>
		      <td>{{empleado.nombre}}</td>
		      <td>{{empleado.apellido}}</td>
		      <td>{{empleado.puesto.nombre}}</td>
		      <td> <a href=""><span class="glyphicon glyphicon-cog" aria-hidden="true"></span></a>
		      	    /
		       	<a href="{% url 'SIGPAd:EliminarEmpleado' empleado.empleado %}"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></a> 
		      </td>
		      <td></td>
		    </tr>
      	{% endfor %}
    </tbody>
  </table>

  <a href="{% url 'SIGPAd:NuevoEmpleado' %}" class="btn btn-success">Nuevo empleado</a>
{% endblock Body %}