{% extends "baseInterior.html" %}
{% load staticfiles %}

	{% block Titulo %}
		Gestionar Planilla
	{% endblock Titulo %}

	{% block CSS %}
		<link rel="stylesheet" type="text/css" href="{% static "interior/css/table.css" %}">
		<style type="text/css">
		.label-input100 {
		  font-family: Poppins-Regular;
		  font-size: 12px;
		  color: #808080;
		  line-height: 1;
		  text-align: right;

		  position: absolute;
		  top: 14px;
		  left: -105px;
		  width: 80px;

		}

		.input100 {
  font-family: Poppins-Regular;
  font-size: 12px;
  color: #555555;
  line-height: 0.5;

  display: block;
  width: 100%;
  background: transparent;
  padding: 0 0px;
}


		</style>
	{% endblock CSS %}

	
	{% block usuario %}
  		{{user.username}}
  	{% endblock usuario %}
  	
  
	{% block Body %}
	    
					<div>
						<table>
							<thead>
								<tr>
									<th>Numero de Planilla</th>
									<th>Fecha</th>
									<th>Operaciones</th>
								</tr>
							</thead>
							{%for pl in planilla%}
							<tr>
								<td>{{pl.nomPlanilla}}</td>
								<td>{{pl.fecha_pago_planilla}}</td>
								<td>
								<a href="{% url 'SIGPAd:planilla' pl.id %}">Gestionar</a>
							</td>

							</tr>
							{%endfor%}							
						</table>
					</div>
					
	    
	{% endblock Body %}