{% extends "baseInterior.html" %}
{% load staticfiles %}

	{% block Titulo %}
		Ingresar Puestos
	{% endblock Titulo %}

	{% block CSS %}
	<link rel="stylesheet" type="text/css" href="{% static "exterior/css/ingresarPuesto.css" %}">
	{% endblock CSS %}

	{% block usuario %}
  		{{user.username}}
  	{% endblock usuario %}
  	
	{% block Body %}
 
				<!-- Formulario -->
			<b><center>{{validar}}</center></b>

			<form class="login100-form validate-form" action="" method="POST" role="form" enctype="multipart/form-data" accept-charset="UTF-8">
	            {% csrf_token %}

	            <div class="wrap-input100 validate-input m-b-26" data-validate="Puesto es un campo requerido.">
					<span class="label-input100">Cantidad de horas extra </span>
					<input class="input100" type="number" placeholder="Ingresar Horas Extra" id="cantidad" name="cantidad">
					<span class="focus-input100"></span>
				</div>

	            <div class="wrap-input100 validate-input m-b-26" data-validate="Salario es un campo requerido.">
					<span class="label-input100">Fecha </span>
					<input class="input100" type="date" placeholder="Ingresar Fecha" id="fecha" name="fecha">
					<span class="focus-input100"></span>
				</div>

				<div class="container-login100-form-btn">
					<button class="login100-form-btn" type="submit">
								Ingresar
					</button>
				</div>

	        </form>

	{% endblock Body %}