{% extends 'baseInterior.html' %}
{% load staticfiles %}
{% block Titulo %}
	Listado de Empleados
{% endblock Titulo %}

{% block Body %}
	{{vendedor}}

	<table class="table">
    <thead>
      <tr>
        <th>#</th>
        <th>Nombre</th>
        <th>Apellido</th>
        <th>Puesto</th>
        <th>Acciones</th>

      </tr>
    </thead>
    <tbody>
    	{% for vendedor in vendedores %}
    		<tr>
		      	<td>{{ forloop.counter }}</td>
		      	<td>{{vendedorSinUser.nombre}}</td>
		      	<td>{{vendedorSinUser.apellido}}</td>
		      	<td>{{vendedorSinUser.puesto.nombre}}</td>
		      	<td><a href="{% url 'SIGPAd:NuevoUsuario' vendedorSinUser.empleado %}"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span></a></td>
		    </tr>
      	{% endfor %}
    </tbody>
  </table>

{% endblock %}