{% extends 'baseInterior.html' %}
{% load staticfiles %}
{% block Titulo %}
	Planilla
{% endblock Titulo %}
{% block CSS%}
<link rel="stylesheet" type="text/css" href="{% static "interior/css/table.css" %}">
{% endblock CSS%}
{%block usuario %}
 {{user.username}}
{%endblock usuario%}
{% block Body %}

<h3>EMPLEADOS</h3>

<table class="table">
    <thead>
      <tr>
        <th>#</th>
        <th>Nombre</th>
        <th>Apellido</th>
        <th>Puesto</th>
        <th>Salario Base</th>
        <th>Horas Extra</th>
        <th>ISSS</th>
        <th>AFP</th>        
        <th>INSAFORP</th>
        <th>VACACIONES</th>
        <th>AGUINALDO</th>                         
      </tr>
    </thead>
    <tbody>      
    	{%for i in pagos%}
    		<tr>
            <td>{{i.id}}</td>
		      	<td>{{i.empleado.nombre}}</td>
		      	<td>{{i.empleado.apellido}}</td>
            <td>{{i.empleado.puesto.nombre}}</td>
            <td>{{i.salarioBase}}</td>   
            <td>{{i.totalHoraExtra}}</td>
		      	<td>{{i.pagoisss}}</td>
		      	<td>{{i.pagoafp}}</td>
            <td>{{i.insaforp}}</td>
            <td>{{i.vacaciones}}</td>
            <td>{{i.aguinaldo}}</td>  		      	      	            	      	
		    </tr> 
      {%endfor%}   	
    </tbody>
  </table>
  
{% endblock Body %}