{% extends "baseInterior.html" %}
{% load staticfiles %}

	{% block Titulo %}
		Sancionar Empleados
	{% endblock Titulo %}

	{% block CSS %}
		<link rel="stylesheet" type="text/css" href="{% static "interior/css/ingresarPuesto.css" %}">
	{% endblock CSS %}
	
	{% block usuario %}
  		{{user.username}}
  	{% endblock usuario %}
  	

	{% block Body %}
	    <div class="limiter">
		<div class="container-login100">
			<div class="wrap-login100">
					<div class="login100-form-title">
						<span class="login100-form-title-1">
							<h2>SANCIONAR EMPLEADO</h2>
						</span>
					</div>
					
					<form class="login100-form validate-form" action="" method="POST" role="form" enctype="multipart/form-data" accept-charset="UTF-8">
	            {% csrf_token %}

	            <div class="wrap-input100 validate-input m-b-26" data-validate="Sancion es un campo requerido.">
					<span class="label-input100">Sancion </span>
					<input class="input100" type="text" placeholder="Ingresar Sancion" id="sancion" name="sancion" pattern="[a-zA-Z]{1-15}">
					<span class="focus-input100"></span>
				</div>

				<div class="wrap-input100 validate-input m-b-26" data-validate="Descripcion es un campo requerido.">
					<span class="label-input100">Descripcion</span>
					<input class="input100" type="textarea" placeholder="Ingresar Descripcion" id="descripcion" name="descripcion" pattern="[a-zA-Z]{1-150}">
					<span class="focus-input100"></span>
				</div>

				<div class="container-login100-form-btn btn-ingresar">						<button class="login100-form-btn" type="submit">
								Ingresar
					</button>
					
				</div>
		    </div>
	    </div>
	    </div>
	    
	{% endblock Body %}