.wrap-login100 h2:after{
				content:" "; 
				width:100px; 
				height:5px; 
				background:#57b846;
				display:block; 
				margin-top:20px; 
				border-radius:3px; 
				margin-left:auto;
				margin-right:auto
	}

			.login100-form-title{
				background-image: url( '/static/exterior/images/ingresarPuesto.jpg' );
			}

			.login100-form-title {
			  width: 100%;
			  position: relative;
			  z-index: 1;
			  display: -webkit-box;
			  display: -webkit-flex;
			  display: -moz-box;
			  display: -ms-flexbox;
			  display: flex;
			  flex-wrap: wrap;
			  flex-direction: column;
			  align-items: center;

			  background-repeat: no-repeat;
			  background-size: cover;
			  background-position: center;

			  padding: 30px 15px 30px 15px;
			}
table{
	background-color: white;
	text-align: left;
	width: 100%;
}
th, td{
	font-size: 12px;
    color: #555555;
	border: solid 1px black;
	padding: 20px;
}
thead{
	background-color: #34b077;
	border-bottom: solid 5px black;
	color: white; 
}
tr:nth-child(even){
	background-color: #F2E8E6;
}
