{% extends "exterior/foro_interior.html" %} 
{% load staticfiles %}

{% block CSS %}
<style>
    #precio {
        font-size: 30px;
        font-weight: 700;
        margin-left: 10px;
        color: #c00;
    }
    
    #lblinfo {
        font-size: 20px;
        font-weight: 650;
        color: black;
    }
</style>
<style>    
    
    input[type="radio"] {
        display: none;
        /*position: absolute;top: -1000em;*/
    }
    
    label {
        color: grey;
    }
    
    .clasificacion {
        direction: rtl;
        unicode-bidi: bidi-override;
    }
    .existencia{
        margin-bottom: 10px;
        font-weight: bold;
    }
    
    
    
    input[type="radio"]:checked~label {
        color: orange;
    }
</style>
{% endblock CSS %}
    
{% block Body %}

<section>
    <div class="container mt-5">
        {% if error %}
            <div class="alert-info">
                <h5 class="text-center">{{error}}</h5>
            </div>
        {% else %}
        <div class="row mt-5">    
                {% for p in art %}
                <div class="col-sm-12 col-md-6 col-lg-4 mt-4">
                    <div class="card text-center mb-3" style="height: 20rem;">
                        <div class="text-center">
                            <div class="existencia">
                                Existencia: {{p.inventario.existencia}}
                            </div>
                            <img src="{{p.img.url}}" alt="" class="card-img-top img-fluid" style="width: 24rem; height: 16rem;">                         
                            <p class="clasificacion">                        
                                <input type="radio" {% if p.puntuacion_total == 5 %} checked {% endif %} disabled>
                                <label>★</label>
                                <input type="radio" {% if p.puntuacion_total == 4 %} checked {% endif %} disabled>
                                <label>★</label>
                                <input type="radio" {% if p.puntuacion_total == 3 %} checked {% endif %} disabled>
                                <label>★</label>
                                <input type="radio" {% if p.puntuacion_total == 2 %} checked {% endif %} disabled>
                                <label>★</label>
                                <input type="radio" {% if p.puntuacion_total == 1 %} checked {% endif %} disabled>
                                <label>★</label>                                    
                            </p>                           
                            <a href="{% url 'Foro:detalleArticulo' p.id %}" class="btn btn-outline-info btn-block">
                                <i class="fa fa-eye" aria-hidden="true"></i> {{p.nombre}}
                            </a>  
                        </div>                                            
                    </div>
                </div>
                {%endfor%}
        
            </div>
        </div>
        <div class="row mt-5 justify-content-center" id="pag">
            <nav aria-label="Page navigation example">
                <ul class="pagination">
                    {% if art.has_previous%}
                    <li class="page-item">
                        <a class="page-link" id="anterior-pag" href="?page={{ art.previous_page_number }}{% if parametros.urlencode %}&{{ parametros.urlencode }}{% endif %}">Anterior</a>
                    </li>
                    {% else %}
                    <li class="page-item">
                        <a class="page-link disabled">Anterior</a>
                    </li>
                    {%endif%} {% for i in art.paginator.page_range %} {% if art.number == i %}
                    <li class="page-item active numPag " val="{{i}}">
                        <a class="page-link" href="?page={{ i }}{% if parametros.urlencode %}&{{ parametros.urlencode }}{% endif %}">{{i}}</a>
                    </li>
                    {% else %}
                    <li class="page-item numPag">
                        <a class="page-link " href="?page={{ i }}{% if parametros.urlencode %}&{{ parametros.urlencode }}{% endif %}" val="{{i}}">{{i}}</a>
                    </li>
                    {%endif%} {%endfor%} {% if art.has_next %}
                    <li class="page-item">
                        <a class="page-link" id="siguiente-pag" href="?page={{ art.next_page_number }}{% if parametros.urlencode %}&{{ parametros.urlencode }}{% endif %}" val="{{ art.next_page_number }}">Siguiente</a>
                    </li> {%else%}
                    <li class="page-item ">
                        <a class="page-link disabled">Siguiente</a>
                    </li>
                    {%endif%}
                </ul>
            </nav>
        </div>
        {% endif %}
        
    </div>
</section>    

{% endblock Body %}