{% extends "base_cliente/base.html" %}
{% load staticfiles %}
{% block Body %}
<div class="container">
    
    {% if error %}
        <div class="alert alert-info">
            <h4 class="text-center font-weight-bold">{{error}}</h4>
        </div>
    {% else %}
    <div class="row">
            <div class="col">
                <h2 class="text-center">Pre-Orden</h2>
            </div>
        </div>
        <div class="row">
            <table class="table table-hover text-center">            
                <thead class="thead bg-info">
                    <td><h5 class="font-weight-bold">Nombre</h5></td>
                    <td><h5 class="font-weight-bold">Cantidad</h5></td>
                    <td><h5 class="font-weight-bold">Cancelar</h5></td>
                </thead>
                {% for a in art %}
                <tr>
                    <td><h6>{{a.nombre}}</h6></td>
                    <td><h6></h6></td>
                    <td class="text-center"><button class="btn btn-success">Editar</button> <button class="btn btn-danger">Cancelar</button></td>
                </tr>
                {% endfor %}
            </table>              
        </div>
    </div>
    {% endif %}        
{% endblock Body %}