{% load staticfiles %}
<!DOCTYPE html>
<html class=''>
<head>
  <link href="{% static "css/bootstrap.min.css" %}" rel="stylesheet" id="bootstrap-css">
  <script src="{% static "js/bootstrap.min.js" %}"></script>
  <script src="{% static "js/jquery-2.1.0.js" %}"></script>
  <script src="{% static "console_1.js" %}"></script>
  <script src="{% static "events_runner.js" %}"></script>
  <script src="{% static "css_live_reload_init.js" %}"></script>
  <meta charset='UTF-8'>
  <meta name="robots" content="noindex">
  <script src="{% static "js/hoy3lrg.js" %}"></script>

<script>
    try{ 
      Typekit.load({ async: true });
    }catch(e){}
</script>

<link rel='stylesheet prefetch' href="{% static "css/reset.min.css" %}">
<link rel='stylesheet prefetch' href="{% static "css/font-awesome.min.css" %}">
<link rel='stylesheet prefetch' href="{% static "css/frame.css" %}">
</head>
<body>
{% if yo.is_authenticated %}
<div id="frame">
  <div id="sidepanel">
    <div id="profile">
      <div class="wrap">
        {% if yo.cliente_set.all %}
          {% for cl in yo.cliente_set.all %}
            {% if cl.foto %}
              <img  id="profile-img" src="/media/{{cl.foto}}" alt=""  class="online"/>
            {% else %}
              <img  id="profile-img" src="{% static "images/user.png" %}" class="online" alt="" />
            {% endif %}
          {% endfor %}
        {% elif yo.empleado_set.all %}
          {% for cl in yo.empleado_set.all %}
            {% if cl.foto %}
              <img  id="profile-img" src="/media/{{cl.foto}}"  class="online" alt="foto empleado" />
            {% else %}
              <img id="profile-img" src="{% static "images/user.png" %}" class="online" alt="" />
            {% endif %}
          {% endfor %}
        {% else %}
          <img src="{% static "images/louislitt.png" %}" alt="" />
        {% endif %}
        <p> {{yo.username}} </p>
        <i class="fa fa-chevron-down expand-button" aria-hidden="true"></i>
        <div id="status-options">
          <ul>
            <li id="status-online" class="active"><span class="status-circle"></span> <p>Online</p></li>
            <li id="status-away"><span class="status-circle"></span> <p>Away</p></li>
            <li id="status-busy"><span class="status-circle"></span> <p>Busy</p></li>
            <li id="status-offline"><span class="status-circle"></span> <p>Offline</p></li>
          </ul>
        </div>
        <div id="expanded">
          <label for="twitter"><i class="fa fa-facebook fa-fw" aria-hidden="true"></i></label>
          <input name="twitter" type="text" value="mikeross" />
          <label for="twitter"><i class="fa fa-twitter fa-fw" aria-hidden="true"></i></label>
          <input name="twitter" type="text" value="ross81" />
          <label for="twitter"><i class="fa fa-instagram fa-fw" aria-hidden="true"></i></label>
          <input name="twitter" type="text" value="mike.ross" />
        </div>
      </div>
    </div>
    <div id="search">
      <label for=""><i class="fa fa-search" aria-hidden="true"></i></label>
      <input type="text" placeholder="Buscar contactos..." />
    </div>
    <div id="contacts">
      <ul>
        {% for us in contactos %}
          <li class="contact">
            <a href="/mensajes/{{us.id}}">
            <div class="wrap">
              <span class="contact-status online"></span>
              {% if us.cliente_set.all %}
                {% for cl in us.cliente_set.all %}
                  {% if cl.foto %}
                      <img src="/media/{{cl.foto}}" alt="" />
                    {% else %}
                      <img src="{% static "images/user.png" %}" alt="" />
                  {% endif %}
                {% endfor %}
              {% elif us.empleado_set.all %}
                {% for cl in us.empleado_set.all %}
                  {% if cl.foto %}
                      <img src="/media/{{cl.foto}}" alt="" />
                    {% else %}
                      <img src="{% static "images/user.png" %}" alt="" />
                  {% endif %}
                {% endfor %}
              {% else %}
                <img src="{% static "images/user.png" %}" alt="" />
              {% endif %}
              <div class="meta">
                <p class="name">{{us.username}} </p>
                <p class="preview"> {{us.ultimo}} </p>
              </div>
            </div>
            </a>
          </li>
        {% endfor %}
      </ul>
    </div>
    <div id="bottom-bar">
      <button id="addcontact"><a href="/nuevoMensaje"><i class="glyphicon glyphicon-plus" aria-hidden="true"></i> <span>Add contact</span></a></button>
      <button id="settings"><i class="fa fa-cog fa-fw" aria-hidden="true"></i> <span>Settings</span></button>
    </div>
  </div>
  <div class="content">
    <div class="contact-profile">
      {% if primer %}
        {% for cl in primer.cliente_set.all %}
          {% if cl.foto %}
            <img src="/media/{{cl.foto}}" alt="" />
          {% else %}
            <img src="{% static "images/user.png" %}" alt="" />
          {% endif %}
        {% endfor %}
        {% for cl in primer.empleado_set.all %}
          {% if cl.foto %}
            <img src="/media/{{cl.foto}}" alt="" />
          {% else %}
            <img src="{% static "images/user.png" %}" alt="" />
          {% endif %}
        {% endfor %}
        <p> {{primer.username}}</p>
        <div class="social-media">
          <i class="fa fa-facebook" aria-hidden="true"></i>
          <i class="fa fa-twitter" aria-hidden="true"></i>
          <i class="fa fa-instagram" aria-hidden="true"></i>
        </div>
      {% else %}
      <img src="{% static "images/anonimo.png" %}" alt="" />
        <p> Seleccione un destinatario </p>
        <div class="social-media">
          <i class="fa fa-facebook" aria-hidden="true"></i>
          <i class="fa fa-twitter" aria-hidden="true"></i>
          <i class="fa fa-instagram" aria-hidden="true"></i>
      </div>

      {% endif %}
    </div>
    <div class="messages">
      <ul>
        {% if chat %}
          {% for c in chat.mensaje_set.all %}
            {% if c.enviado == yo.id %}
              <li class="sent">
              {% if primer.cliente_set.all %}
                {% for cl in primer.cliente_set.all %}
                  {% if cl.foto %}
                      <img src="/media/{{cl.foto}}" alt="" />
                    {% else %}
                      <img src="{% static "images/user.png" %}" alt="" />
                  {% endif %}
                {% endfor %}
              {% elif primer.empleado_set.all %}
                {% for cl in primer.empleado_set.all %}
                  {% if cl.foto %}
                      <img src="/media/{{cl.foto}}" alt="" />
                    {% else %}
                      <img src="{% static "images/user.png" %}" alt="" />
                  {% endif %}
                {% endfor %}
              {% else %}
                <img src="{% static "images/user.png" %}" alt="" />
              {% endif %}
                <p> {{c.msj}} </p>
              </li>
            {% else %}
              <li class="replies">
                <img src="{% static "images/user.png" %}" alt="" />
                <p>{{c.msj}}</p>
              </li>
            {% endif %}
          {% endfor %}
        {% else %}
          <li class="replies">
            <img src="{% static "images/user.png" %}" alt="" />
            <p>Selecciona un chat!!!</p>
          </li>
        {% endif %}
        <div id="mostrar">
          
        </div>
      </ul>
    </div>
    <form method="POST">
      {% csrf_token %}
      <div class="message-input">
        <div class="wrap">
        <input type="text" placeholder="Escriba su mensaje..." name="msg" id="msg"/>
        <i class="fa fa-paperclip attachment" aria-hidden="true"></i>
        <button type="submit" class="submit"><i class="glyphicon glyphicon-send" aria-hidden="true"></i></button>
        </div>
      </div>
    </form>
  </div>
</div>
<script src='stopExecutionOnTimeout.js'></script>
<script src='jquery-2.1.0.js'></script>
<script >
$(".messages").animate({ scrollTop: $(document).height() }, "fast");

$("#profile-img").click(function() {
  $("#status-options").toggleClass("active");
});

$(".expand-button").click(function() {
  $("#profile").toggleClass("expanded");
  $("#contacts").toggleClass("expanded");
});

$("#status-options ul li").click(function() {
  $("#profile-img").removeClass();
  $("#status-online").removeClass("active");
  $("#status-away").removeClass("active");
  $("#status-busy").removeClass("active");
  $("#status-offline").removeClass("active");
  $(this).addClass("active");
  
  if($("#status-online").hasClass("active")) {
    $("#profile-img").addClass("online");
  } else if ($("#status-away").hasClass("active")) {
    $("#profile-img").addClass("away");
  } else if ($("#status-busy").hasClass("active")) {
    $("#profile-img").addClass("busy");
  } else if ($("#status-offline").hasClass("active")) {
    $("#profile-img").addClass("offline");
  } else {
    $("#profile-img").removeClass();
  };
  
  $("#status-options").removeClass("active");
});

function peticion() {
  $.get("/servicio_mensajeria/{{yo.id}}/{{primer.id}}",function(data,status){
      for(let i=0;i<data.length;i++){
        var valor = data[i].fields;                       
        var lista=`<li class="replies"><img src="mikeross.png" alt="" /><p> ${valor.msj}</p></li>`
        $(lista).appendTo($('.messages ul'));
        $(".messages").animate({ scrollTop: $(document).height() }, "fast");
      }
  });
}

$(document).ready(function(){
   var refreshId = setInterval(peticion, 3000);
   $.ajaxSetup({ cache: false });
});
$(".messages").animate({ scrollTop: $(document).height() }, "fast");
</script>
{% else %}
<h1>para estar aqui debe registrarse</h1>
{% endif %}

</body></html>