{% extends "base_cliente/base.html" %}
{% load staticfiles %}


{% block Body %}

{% if user.is_superuser %}
<h1>superusuario</h1>
{%elif user.is_authenticated%}
<h1>usuario autentificado</h1>

{% for us in usuarios %}
<a href="/enviarNuevoMensaje/{{us.id}}"> {{us.username}} </a>
{% endfor %}

{% for us in clientes %}
<a href="/enviarNuevoMensaje/{{us.id}}"> {{us.username}} </a>
{% endfor %}

{% for us in contactos %}
<a href="/enviarNuevoMensaje/{{us.id}}"> {{us.username}} </a>
{% endfor %}



{%else%}
<h1>usuario anonimo</h1>
{% endif %}
{% endblock Body %}