{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <META NAME="ROBOTS" CONTENT="NOINDEX, NOFOLLOW"> {% block META %} {% endblock META %}
    <title>
        {% block Titulo %} CompuOfertas {% endblock Titulo %}
    </title>    
    <script type="text/javascript" src="{% static 'js/jquery.min.js' %}">
    </script>
    <script type="text/javascript" src="{% static 'js/sweetalert2.all.js' %}">
    </script>
    <script type="text/javascript" src="{% static 'js/pet.js' %}">
    </script>
    <script type="text/javascript" src="{% static 'sweet/sweetalert.js' %}">
    </script>    
    <script type="text/javascript" src="{% static 'js/alertas.js' %}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.bundle.js"></script>

    <!-- Archivos CSS -->
    <link rel="shortcut icon" href="{% static 'images/favicon.ico' %}" type="image/x-icon">
    <link rel="icon" href="{% static 'images/favicon.ico' %}" type="image/x-icon">
    <link rel="stylesheet" type="text/css" href="{% static 'css/font-awesome.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/animate.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/admin.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/estilos.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/jquery-ui.css' %}"> 
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap-select.min.css'  %}" />     
    <link rel="stylesheet" type="text/css" href="{% static 'sweet/sweetalert.min.css'  %}" /> 

    {% block Script %} {% endblock Script %}
    {% block CSS %} {% endblock CSS %}

</head>

<body class="green_thm fixed_header left_nav_fixed">
    <div class="wrapper">
        <!--\\\\\\\ wrapper Start \\\\\\-->
        <div class="header_bar">
            <!--\\\\\\\ header Start \\\\\\-->
            <div class="brand">
                <!--\\\\\\\ brand Start \\\\\\-->
                <div class="logo" style="display:block"><img src="{% static 'images/logo.jpg' %}" width="50" height="47" alt="s-logo" /> <span class="theme_color"></span> Vendedor</div>
                <div class="small_logo" style="display:none;">
                    <img src="{% static 'images/logo.jpg' %}" width="50" height="47" alt="s-logo" />
                    <img src="{% static 'images/logo.jpg' %}" width="122" height="20" alt="r-logo" />
                </div>
            </div>
            <!--\\\\\\\ brand end \\\\\\-->
            <div class="header_top_bar">
                <!--\\\\\\\ header top bar start \\\\\\-->
                <a href="javascript:void(0);" class="menutoggle"> <i class="fa fa-bars"></i> </a>
                <div class="top_left">
                    <div class="top_left_menu">
                        <ul>
                            <li>
                                <a href="/"> <i class="fa fa-repeat"></i> </a>
                            </li>
                            <li hidden="true">
                                <a href="/"> <i class="fa fa-th-large"></i> </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="top_right_bar">
                    <div class="top_right">
                        <div class="top_right_menu">
                            <ul>
                                <input type="number" name="controlUser" id="controlUser" class="controlUser" value="0" hidden="true">
                                <li class="dropdown"> <a href="/" data-toggle="dropdown"> Mensajes <span class="badge badge color_1" id="cant">0</span> </a>
                                    <ul class="drop_down_task dropdown-menu" id="msjUser">
                                        <div class="top_pointer"></div>
                                        <li>
                                            <p class="number" style="color:black;">tienes <span id="tienes">0</span> mensajes</p>
                                        </li>
                                    </ul>
                                </li>
                              <li class="dropdown"> <a href="/" data-toggle="dropdown"> notificacion <span class="badge badge color_2">6</span> </a>
                                <div class="notification_drop_down dropdown-menu">
                                  <div class="top_pointer"></div>
                                  <div class="box"> <a href="/"> <span class="block primery_6"> <i class="fa fa-envelope-o"></i> </span> <span class="block_text">Mailbox</span> </a> </div>
                                  <div class="box"> <a href="/"> <span class="block primery_2"> <i class="fa fa-calendar-o"></i> </span> <span class="block_text">Calendar</span> </a> </div>
                                  <div class="box"> <a href="/"> <span class="block primery_4"> <i class="fa fa-map-marker"></i> </span> <span class="block_text">Map</span> </a> </div>
                                  <div class="box"> <a href="/"> <span class="block primery_3"> <i class="fa fa-plane"></i> </span> <span class="block_text">To-Do</span> </a> </div>
                                  <div class="box"> <a href="/"> <span class="block primery_5"> <i class="fa fa-picture-o"></i> </span> <span class="block_text">Tasks</span> </a> </div>
                                  <div class="box"> <a href="/"> <span class="block primery_1"> <i class="fa fa-clock-o"></i> </span> <span class="block_text">Timeline</span> </a> </div>
                                </div>
                              </li>
                            </ul>
                        </div>
                    </div>
                    <div class="user_admin dropdown">
                        <a href="javascript:void(0);" data-toggle="dropdown"><img width="25px" height="25px" src="{% static "images/user.png" %}"/><span class="user_adminname" id="nombre">
            {% block usuario %}
                {{user.username}}
            {% endblock usuario %}
        </span> <b class="caret"></b> </a>
                        <ul class="dropdown-menu">
                            <div class="top_pointer"></div>
                            <li> <a href="/PerfilVendedor/"><i class="fa fa-user"></i> perfil</a>
                            </li>
                            <li> <a href="/"><i class="fa fa-question-circle"></i> ayuda</a>
                            </li>
                            <li> <a href="/"><i class="fa fa-cog"></i> configuracion </a>
                            </li>
                            <li id="salir"> <i class="fa fa-power-off"></i> salir </li>
                        </ul>
                    </div>
                    <a hidden="true" href="javascript:;" class="toggle-menu menu-right push-body jPushMenuBtn rightbar-switch"><i class="fa fa-comment chat"></i></a>
                </div>
            </div>
            <!--\\\\\\\ header top bar end \\\\\\-->
        </div>
        <!--\\\\\\\ header end \\\\\\-->
        <div class="inner">
            <!--\\\\\\\ inner start \\\\\\-->
            <div class="left_nav">
                <!--\\\\\\\left_nav start \\\\\\-->
                <div class="search_bar"> <i class="fa fa-search"></i>
                    <input name="" type="text" class="search" placeholder="buscar....." />
                </div>
                <div class="left_nav_slidebar">
                    <ul>
                        <li class="left_nav_active theme_border"><a href="javascript:void(0);"><i class="fa fa-home"></i> Inicio <span class="left_nav_pointer"></span> <span class="plus"><i class="fa fa-plus"></i></span> </a>
                            <ul style="display:block">
                                <li>
                                    <a href="/" class="left_nav_sub_active"> <span>&nbsp;</span> <i class="fa fa-circle"></i> <b>Inicio</b> </a>
                                </li>
                                <li>
                                    <a href="{% url 'inventario:PerfilVendedor' %}"> <span>&nbsp;</span> <i class="fa fa-circle"></i> <b>Perfil</b> </a>
                                </li>
                                <li>
                                    <a href="{% url 'Foro:mensajes' 0 %}"> <span>&nbsp;</span> <i class="fa fa-circle"></i> <b>mensaje</b> </a>
                                </li>
                            </ul>
                        </li>

                        <li>
                            <a href="javascript:void(0);"> <i class="glyphicon glyphicon-th-list"></i> Almacén<span class="plus"><i class="fa fa-plus"></i></span> </a>
                            <ul>
                                <li>
                                    <a href="/registrarCategoria"> <span>&nbsp;</span> <i class="fa fa-circle"></i> <b>Categoría</b> </a>
                                </li>
                                <li>
                                    <a href="/ingresarProducto"> <span>&nbsp;</span> <i class="fa fa-circle"></i> <b>Producto</b> </a>
                                </li>
                                <li>
                                    <a href="/subirExcel"> <span>&nbsp;</span> <i class="fa fa-circle"></i> <b>Subir Categorías y Productos desde EXCEL</b> </a>
                                </li>
                            </ul>
                        </li>

                    
                        <li>
                            <a href="javascript:void(0);"> <i class="glyphicon glyphicon-folder-open"></i> Inventario <span class="plus"><i class="fa fa-plus"></i></span> </a>
                            <ul>
                                <li>
                                    <a href="/mostrarInventario"> <span>&nbsp;</span> <i class="fa fa-circle"></i> <b>Administrar Inventario</b> </a>
                                </li>
                            </ul>
                        </li>

                        <li>
                            <a href="javascript:void(0);"> <i class="glyphicon glyphicon-shopping-cart"></i> Ventas <span class="plus"><i class="fa fa-plus"></i></span> </a>
                            <ul>
                                <li>
                                    <a href="/registrarClientes"> <span>&nbsp;</span> <i class="fa fa-circle"></i> <b>Clientes</b> </a>
                                </li>
                                <li>
                                    <a href="/registrarVenta"> <span>&nbsp;</span> <i class="fa fa-circle"></i> <b>Registrar Ventas</b> </a>
                                </li>
                            </ul>
                        </li> 

                        <li>
                                <a href="javascript:void(0);"> <i class="glyphicon glyphicon-th"></i> Compras <span class="plus"><i class="fa fa-plus"></i></span> </a>
                                <ul>
                                    <li>
                                        <a href="/registrarProveedores"> <span>&nbsp;</span> <i class="fa fa-circle"></i> <b>Proveedores</b> </a>
                                    </li>
                                    <li>
                                        <a href="{% url 'inventario:ListadoDeCompras' %}"> <span>&nbsp;</span> <i class="fa fa-circle"></i> <b>Compras</b> </a>
                                    </li>
                                </ul>
                            </li> 
                        <li>
                            <a href="javascript:void(0);"> <i class=" glyphicon glyphicon-stats"></i> Gráficos <span class="plus"><i class="fa fa-plus"></i></span> </a>
                            <ul>
                                <li>
                                    <a href="/graficaMes"> <span>&nbsp;</span> <i class="fa fa-circle"></i> <b>Ventas por Mes</b> </a>
                                </li>
                                <li>
                                    <a href="/graficaProducto"> <span>&nbsp;</span> <i class="fa fa-circle"></i> <b>Producto + vendidos</b> </a>
                                    </li>
                                <li>
                                    <a href="/graficaEmpleado"> <span>&nbsp;</span> <i class="fa fa-circle"></i> <b>Ventas por Empleados</b> </a>
                                </li>
                            </ul>
                        </li> 
                        
<!--
                        <li>
                            <a href="javascript:void(0);"> <i class="fa fa-envelope"></i> Mensajes <span class="plus"><i class="fa fa-plus"></i></span> </a>
                            <ul>
                                <li>
                                    <a href="/"> <span>&nbsp;</span> <i class="fa fa-circle"></i> <b>Inbox</b> </a>
                                </li>
                                <li>
                                    <a href="/"> <span>&nbsp;</span> <i class="fa fa-circle"></i> <b>Compose</b> </a>
                                </li>
                                <li>
                                    <a href="/"> <span>&nbsp;</span> <i class="fa fa-circle"></i> <b>Read Mail</b> </a>
                                </li>
                            </ul>
                        </li> -->
                    </ul>
                </div>
            </div>

            <!--\\\\\\\left_nav end \\\\\\-->
            <div class="contentpanel">
                <!--\\\\\\\ contentpanel start\\\\\\-->
                <div class="pull-left breadcrumb_admin clear_both">
                    <div class="pull-left page_title theme_color">
                        <h1>Compu ofertas</h1>
                        <h2 class="">Los mejores servicios y respuestos al alcance de un click</h2>
                    </div>
                    <div class="porlets-content">
                    </div>
                    <div class="pull-right" hidden="true">
                        <ol class="breadcrumb">
                            <li><a href="/">inicio</a></li>
                            <li><a href="/">PAGES</a></li>
                            <li class="active"></li>
                        </ol>
                    </div>
                </div>
                <div class="container clear_both padding_fix">
                    <!--\\\\\\\ container  start \\\\\\-->
                    
                    {% block Body %} {% endblock Body %}


                </div>
                <!--\\\\\\\ container  end \\\\\\-->
            </div>
            <!--\\\\\\\ content panel end \\\\\\-->
        </div>
        <!--\\\\\\\ inner end\\\\\\-->
    </div>
    <!--\\\\\\\ wrapper end\\\\\\-->
    <!-- Modal -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="myModalLabel">Compose New Task</h4>
                </div>
                <div class="modal-body"> content </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Save changes</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="myModal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="myModalLabel">Compose New Task</h4>
                </div>
                <div class="modal-body"> sgxdfgxfg </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Save changes</button>
                </div>
            </div>
        </div>
    </div>
    <!-- sidebar chats -->
    <nav class="atm-spmenu atm-spmenu-vertical atm-spmenu-right side-chat">
        <div class="header">
            <input type="text" class="form-control chat-search" placeholder=" Search">
        </div>
        <div href="#" class="sub-header">
            <div class="icon"><i class="fa fa-user"></i></div>
            <p>Online (4)</p>
        </div>
        <div class="content">
            <p class="title">Family</p>
            <ul class="nav nav-pills nav-stacked contacts">
                <li class="online"><a href="#"><i class="fa fa-circle-o"></i> Steven Smith</a></li>
                <li class="online"><a href="#"><i class="fa fa-circle-o"></i> John Doe</a></li>
                <li class="online"><a href="#"><i class="fa fa-circle-o"></i> Michael Smith</a></li>
                <li class="busy"><a href="#"><i class="fa fa-circle-o"></i> Chris Rogers</a></li>
            </ul>

            <p class="title">Friends</p>
            <ul class="nav nav-pills nav-stacked contacts">
                <li class="online"><a href="#"><i class="fa fa-circle-o"></i> Vernon Philander</a></li>
                <li class="outside"><a href="#"><i class="fa fa-circle-o"></i> Kyle Abbott</a></li>
                <li><a href="#"><i class="fa fa-circle-o"></i> Dean Elgar</a></li>
            </ul>

            <p class="title">Work</p>
            <ul class="nav nav-pills nav-stacked contacts">
                <li><a href="#"><i class="fa fa-circle-o"></i> Dale Steyn</a></li>
                <li><a href="#"><i class="fa fa-circle-o"></i> Morne Morkel</a></li>
            </ul>

        </div>
        <div id="chat-box">
            <div class="header">
                <span>Richard Avedon</span>
                <a class="close"><i class="fa fa-times"></i></a> </div>
            <div class="messages nano nscroller has-scrollbar">
                <div class="content" tabindex="0" style="right: -17px;">
                    <ul class="conversation">
                        <li class="odd">
                            <p>Hi John, how are you?</p>
                        </li>
                        <li class="text-right">
                            <p>Hello I am also fine</p>
                        </li>
                        <li class="odd">
                            <p>Tell me what about you?</p>
                        </li>
                        <li class="text-right">
                            <p>Sorry, I'm late... see you</p>
                        </li>
                        <li class="odd unread">
                            <p>OK, call me later...</p>
                        </li>
                    </ul>
                </div>
                <div class="pane" style="display: none;">
                    <div class="slider" style="height: 20px; top: 0px;"></div>
                </div>
            </div>
            <div class="chat-input">
                <div class="input-group">
                    <input type="text" placeholder="Enter a message..." class="form-control">
                    <span class="input-group-btn">
        <button class="btn btn-danger" type="button">Send</button>
        </span> </div>
            </div>
        </div>
    </nav>
    <!-- /sidebar chats -->


    <!-- Archivos JavaScript -->


    <script src="{% static "js/jquery-2.1.0.js" %}"></script>
    <script src="{% static "js/bootstrap.min.js" %}"></script>
    <script src="{% static "js/bootstrap-select.min.js" %}"></script>
    <script src="{% static "js/common-script.js" %}"></script>
    <script src="{% static "js/jquery.slimscroll.min.js" %}"></script>
    <script src="{% static "js/jPushMenu.js" %}"></script>
    <script src="{% static "js/side-chats.js" %}"></script>
    <script src="{% static "js/Chart.bundle.js" %}"></script>
    <script type="text/javascript" src="{% static "js/jquery-ui.js" %}"></script>
    <script type="text/javascript" src="{% static "js/jquery.dataTables.min.js" %}"></script>
    <script type="text/javascript">
      function peticionChat() {
        $.get("/servicio_chat/",function(data,status){
            var cant = data.length;
            $('#msjUser').empty();
            var v = `
                <div class="top_pointer"></div>
                <li>
                    <p class="number" style="color:black;">tienes <span id="tienes">0</span> mensajes</p>
                </li>`;
            $(v).appendTo($('#msjUser'));
            $("#cant").text(cant);
            $("#tienes").text(cant);
            
            for(let i=0;i<=data.length;i++){
              var valor = data[i].fields;
              var lista=`<li class="listado"> 
                      <a href="/mensajes/${valor.enviado}" class="mail"> 
                        <span class="photo">
                          <img id="profile-img" src="{% static "images/user.png" %}"  class="online"  height="40" width="40" />
                        </span> 
                        <span class="subject"> 
                          <span class="from">
                            ${valor.username}
                          </span> 
                          <span class="time">
                            ${valor.fecha} 
                          </span>  
                        </span> 
                        <span class="message">
                           ${valor.msj}
                        </span> 
                      </a> 
                    </li>`;
                $(lista).appendTo($('#msjUser'));
            }
        });
      }

      $(document).ready(function(){
         var refreshId = setInterval(peticionChat, 3000);
         $.ajaxSetup({ cache: false });
      });
    </script>
    

    {% block JavaScript %} {% endblock JavaScript %}

</body>

</html>