{% extends "baseInterior.html" %}
{% load staticfiles %}
{% block Titulo %}
	Editar Empleado
{% endblock Titulo %}

  {% block usuario %}
      {{user.username}}
    {% endblock usuario %}
    
{% block Body %}

	<h3>EDITAR EMPLEADO</h3>

	<!-- Formulario -->
	<div class="row">
        <div class="col-md-6">
          <div class="block-web">
            <div class="header">
              <!--<div class="actions"> <a class="minimize" href="#"><i class="fa fa-chevron-down"></i></a><a class="close-down" href="#"><i class="fa fa-times"></i></a> </div>-->
              <h3 class="content-header">Datos Puesto</h3>
            </div>
            <div class="porlets-content">
              <form action="{% url 'SIGPAd:EditarPuesto' puesto.id%}" method="POST" role="form" enctype="multipart/form-data" accept-charset="UTF-8" class="form-horizontal row-border" >
					{% csrf_token %}

              	  <!--<div class="form-group">
                  <label class="col-sm-3 control-label">Puesto</label>
                  <div class="col-sm-9">
						<select id="puestoEmpleado" name="puestoEmpleado" class="input100">
							<option id="{{empleado.puesto.nombre}}" value="{{empleado.puesto.nombre}}" selected="selected">{{empleado.puesto.nombre}}</option>
							{% for puesto in puestos %}
								<option id="{{puesto.nombre}}" value="{{puesto.nombre}}">{{puesto.nombre}}</option>
				            {% endfor %}
						</select>
                   </div>
                 </div>-->
                <div class="form-group">
                  <label class="col-sm-3 control-label">Nombre</label>
                  <div class="col-sm-9">
                    <input class="form-control" type="text" id="nombre" name="nombre" pattern="[a-zA-Z]{1-15}"required="required" value="{{puesto.nombre}}">
                  </div>
                </div><!--/form-group--> 

                <div class="form-group">
                  <label class="col-sm-3 control-label">Salario</label>
                  <div class="col-sm-9">
                   <input class="form-control" type="number" value="{{puesto.salario}}" id="salario" name="salario"  required="required">
                  </div>
                </div><!--/form-group--> 
                <input type="submit" class="btn btn-success">
              </form>
            </div>
          </div>
        </div>
      </div>



{% endblock Body %}