{% extends "baseUser.html" %}
{% load staticfiles %} 
{% block Body %}
<style type="text/css">
    .alerta {
        padding: 20px;
        margin-top: 20px;
    }
</style>
<div >

{% if mensaje %}
        <h1 class="center alerta"><strong class="alert alert-danger">{{mensaje}}</strong> </h1>
{% endif %}
</div>

<form method="POST" action="" enctype="multipart/form-data" accept-charset="UTF-8" class="form-horizontal row-border" >
    {% csrf_token %}
    <div class="center">
        <a href="{% url 'inventario:graficaMes' %}" class="btn btn-success">VENTAS POR MES</a>
        <a href="{% url 'inventario:graficaEmpleado' %}" class="btn btn-success">VENTAS POR EMPLEADO</a>
        <a href="{% url 'inventario:graficaProducto' %}" class="btn btn-success">PRODUCTOS MÁS VENDIDOS</a>
    </div>
        <select id="anioAnterior" name="anioAnterior">
            <option value="anio">{{anio}}</option>
            <option value="anio1">{{anio1}}</option>
            <option value="anio2">{{anio2}}</option>
        </select>

    <input type="submit" class="btn btn-success" value="Aceptar">
</form>
  <canvas id="mesChart" height="120"></canvas>


<script>
var ctx = document.getElementById("mesChart");
var meses = JSON.parse('{{ meses|safe }}');
var ventas = JSON.parse('{{ ventas|safe }}');
var mesChart = new Chart(ctx, {
    type: 'bar',
    data: {
        labels: meses,
        datasets: [{
            {% if anioAnterior %}
            label: 'VENTAS POR MES DEL AÑO: {{anioAnterior}}',
            {% endif %}
            data: ventas,
            backgroundColor: [
                'rgba(255, 99, 132, 0.5)',
                'rgba(54, 162, 235, 0.5)',
                'rgba(255, 206, 86, 0.5)',
                'rgba(75, 192, 192, 0.5)',
                'rgba(153, 102, 255, 0.5)',
                'rgba(255, 159, 64, 0.5)',
                'rgba(255, 99, 132, 0.5)',
                'rgba(54, 162, 235, 0.5)',
                'rgba(255, 206, 86, 0.5)',
                'rgba(75, 192, 192, 0.5)',
                'rgba(153, 102, 255, 0.5)',
                'rgba(255, 159, 64, 0.5)',
            ],
            borderColor: [
                'rgba(255,99,132,1)',
                'rgba(54, 162, 235, 1)',
                'rgba(255, 206, 86, 1)',
                'rgba(75, 192, 192, 1)',
                'rgba(153, 102, 255, 1)',
                'rgba(255, 159, 64, 1)',
                'rgba(255,99,132,1)',
                'rgba(54, 162, 235, 1)',
                'rgba(255, 206, 86, 1)',
                'rgba(75, 192, 192, 1)',
                'rgba(153, 102, 255, 1)',
                'rgba(255, 159, 64, 1)',
            ],
            borderWidth: 1
        }]
    },
    options: {
        scales: {
            yAxes: [{
                ticks: {
                    beginAtZero:true
                }
            }]
        }
    }
});
</script>
{% endblock Body%}