{% extends "baseUser.html" %}
{% load staticfiles %}


{% block Body %}
{% if user.is_superuser %}
<h1>superusuario</h1>
{%elif user.is_authenticated%}
<style type="text/css">
    .archivo{
        padding:20px;
        margin-left:60px;
        margin-top: 40px;
    }
    .descarga{
        padding:5px;
        margin-left:60px;
        margin-top: 40px;
    }
    .control{
        border-radius: 15px;
    }
    .aceptar{
        border-radius: 10px;
    }
</style>

<div class="row">
    <div class="col-xs-12">
        {% if error %}
            <h1 class="center archivo"><strong class="alert alert-danger">{{error}}</strong> </h1>
        {% elif exito %}
            <h1 class="center archivo"><strong class="alert alert-success">{{exito}}</strong> </h1>
        {% endif %}
        <div class="col-xs-11 archivo">
            <section class="panel default blue_title h2 text-center">
                <div class="panel-heading">Kardex de: <span class="semi-bold"> {{producto.nombre}} </span> en año {{fecha.year}} </div>
            </section>
            <div class="row">
                <div class="col-12">
                    <nav class="navbar text-right">
                        <form class="form-inline" method="GET" action="">
                            <input type="text" id="accion" name="accion" value="buscar" hidden="">
                            <label>bucar fecha: YYYY-DD-MM </label>
                            <input name="consulta" type="text" placeholder="Buscar" class="control" value="{{request.GET.consulta}}">
                            <input type="submit" value="Buscar" class="btn btn-success aceptar">
                        </form>
                    </nav>
                </div>
                <div class="col-md-12">
                    <div class="block-web">
                        <div class="panel-heading"><font size="4">Ultima compra: {{ultimo.fecha}} <span class="semi-bold"> Existencia actual: {{ultimo.cantExistencia}} </span> precio de compra actual: {{ultimo.precExistencia}} <span class="semi-bold"> Precio de venta actual: {{producto.inventario.precio_venta_producto}} </span></font> </div>
                        <table class="table">
                            <thead class="bg-primary">
                                <tr>
                                    <th>fecha</th>
                                    <th>Cantidad Entrada</th>
                                    <th>Precio Entrada</th>
                                    <th>Monto entrada</th>
                                    <th>Cantidad Salida</th>
                                    <th>Precio Salida</th>
                                    <th>Monto Salida</th>
                                    <th>Cantidad Existencia</th>
                                    <th>Precio Existencia</th>
                                    <th>Monto Exitencia</th>       
                                    <th>Accion</th>
                                </tr>
                            </thead>
                            <tbody>
                                    {% for k in kardex %}
                                        <tr>
                                            <td>{{k.fecha}}</td>
                                            {% if k.cantEntrada == 0 %}
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                            {% else %}
                                                <td>{{k.cantEntrada}}</td>
                                                <td>{{k.precEntrada}}</td>
                                                <td>{{k.montoEntrada}}</td>
                                            {% endif %}
                                            {% if k.cantSalida == 0 %}
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                            {% else %}
                                                <td>{{k.cantSalida}}</td>
                                                <td>{{k.precSalida}}</td>
                                                <td>{{k.montoSalida}}</td>
                                            {% endif %}
                                            <td>{{k.cantExistencia}}</td>
                                            <td>{{k.precExistencia}}</td>
                                            <td>{{k.montoExistencia}}</td>
                                            <td align="center"> <a href=""><font size="5"> <span class="glyphicon glyphicon-eye-open" aria-hidden="true"></font></span></a>
                                            </td>
                                        </tr>
                                    {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="row text-center">
                <div class="col">
                    <nav aria-label="Page navigation example">
                        <ul class="pagination">
                            {% if kardex.has_previous %}
                            <li class="page-item"><a class="page-link" href="?page={{ kardex.previous_page_number }}{% if parametros.urlencode %}&{{ parametros.urlencode }}{% endif %}">Anterior</a></li>
                            {%else%}
                            <li class="disabled"><span>Anterior</span></li>
                            {% endif %} {% for i in kardex.paginator.page_range %} {% if kardex.number == i %}
                            <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span>
                            </li>
                            {% else %}
                            <li><a href="?page={{ i }}{% if parametros.urlencode %}&{{ parametros.urlencode }}{% endif %}">{{ i }}</a></li>
                            {% endif %} {% endfor %} {% if kardex.has_next %}
                            <li class="page-item"><a class="page-link" href="?page={{ kardex.next_page_number }}{% if parametros.urlencode %}&{{ parametros.urlencode }}{% endif %}">Siguiente</a></li>
                            {%else%}
                            <li class="disabled"><span>Siguiente</li>
                                        {% endif %}
                                    </ul>                        
                                </nav>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-8">
                                <div  class="row">
                                    <div class="col-md-12">
                                        <div class="block-web">
                                            <form method="POST">
                                                {% csrf_token %}
                                                <label>Desea camiar el precio de venta?.... el precio sugerido es: <strong> {{precio_sugerido}} </strong> </label>
                                                <p>
                                                    <label>Nuevo precio: </label>
                                                    <input type="number" name="nuevoPrecio" step="0.01" id="nuevoPrecio" class="control" value="{{precio_sugerido}}">
                                                </p>
                                                <input type="submit" name="aceptar" value="guardar" class="btn btn-success aceptar">
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                </div>
        </div>
    </div>
</div> 


{%else%}
<h1>usuario anonimo</h1>
{% endif %}
{% endblock Body %}