{% extends "baseUser.html" %}
{% load staticfiles %}


{% block Body %}
{%if user.is_authenticated%}
<style type="text/css">
    details {
        padding: 15px;
        background-color: #f6f7f8;
        margin-bottom: 20px;
    }
    
    summary {
        cursor: pointer;
    }
    
    summary::-webkit-details-marker {
        display: none;
    }
    
    summary:before {
        content: "\2714";
        color: #696f7c;
        margin-right: 5px;
    }
    
    .archivo {
        padding: 20px;
        margin-left: 60px;
        margin-top: 40px;
    }
    
    .descarga {
        padding: 5px;
        margin-left: 60px;
        margin-top: 40px;
    }

    .control{
        border-radius: 15px;
    }
    .aceptar{
        border-radius: 10px;
    }
    .espacio{
        margin-left: 20px;
    }

    /*Estilos para el boton: buscar */
    .boton-buscar{
        border: 0;
        font-size: 2rem;
        margin: 0;
        padding: 0 .5rem;
        background: transparent;
    }
    
    .boton-buscar:focus{
        outline: 0; 
    }

    .boton-buscar {
        margin-left: auto;
        margin-right: .8rem; 
    }
    /*Estilos bloque buscar*/
    #bloque-buscar {
        -webkit-box-flex: 1;
        -webkit-flex: 1 1 100%;
        -ms-flex: 1 1 100%;
        flex: 1 1 100%; 
    }

    .contenedor-bloque-buscar {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        height: 3rem;
        margin: 1rem 0; 
    }
    .contenedor-bloque-buscar input[type="text"] {
        border: 0;
        border-radius: 5px 0 0 5px;
        padding: 1rem;
        -webkit-box-flex: 1;
        -webkit-flex: 1 1 auto;
        -ms-flex: 1 1 auto;
        flex: 1 1 auto; 
    }
    .contenedor-bloque-buscar input[type="submit"] {
        -webkit-box-flex: 1;
        -webkit-flex: 1 1 auto;
        -ms-flex: 1 1 auto;
        flex: 1 1 auto;
        border: 0;
        border-radius: 0 5px 5px 0;
        -webkit-box-flex: 0;
        -webkit-flex: 0 1 auto;
        -ms-flex: 0 1 auto;
        flex: 0 1 auto;
        padding: 0 1rem; 
    }

</style>

<div class="row">
    <div class="col-xs-12">
        {% if error %}
            <h1 class="center archivo"><strong class="alert alert-danger">{{error}}</strong> </h1>
        {% elif exito %}
            <h1 class="center archivo"><strong class="alert alert-success">{{exito}}</strong> </h1>
        {% endif %}
        <div class="col-xs-11 archivo">
            <section class="panel panel-default h2 text-center">
                <div class="panel-heading">Kardex de: <span class="semi-bold"> {{producto.nombre}} </span> en año {{fecha.year}} </div>
            </section>
            <div class="row">
                <div class="col-xs-8">
                    <button type="button" class="boton-buscar">
                        <a href="/mostrarInventario" class="btn btn-alert aceptar descarga">regresar <i class="glyphicon glyphicon-arrow-left"></i></a>
                    </button>
                    <button type="button" class="btn btn-info aceptar descarga" data-toggle="modal" data-target="#idmensaje" >
                        Cambiar precio de venta
                        <i class="glyphicon glyphicon-pencil"> </i>
                    </button>

                    <button type="button" class="btn btn-info aceptar descarga" data-toggle="collapse" data-target="#bloque-buscar" aria-expanded="false">buscar
                        <i class="glyphicon glyphicon-search" aria-hidden="true"></i>
                    </button>
                </div>
                <div class="col-xs-6">
                    <nav class="navbar text-right">
                        <form class="form-inline collapse" method="GET" action="" id="bloque-buscar">
                            <input type="text" id="accion" name="accion" value="buscar" hidden="">
                            <label>fecha: YYYY-DD-MM </label>
                            <input name="consulta" type="text" placeholder="Buscar" class="control" value="{{request.GET.consulta}}">
                            <input type="submit" value="Buscar" class="btn btn-success aceptar">
                        </form>
                </nav>

                </div>
                <div class="col-md-12">
                    <div class="block-web">
                        <div class="panel-heading"><font size="4">Ultima compra: {{ultimo.fecha}} <span class="semi-bold"> Existencia actual: {{ultimo.cantExistencia}} </span> precio de compra actual: {{ultimo.precExistencia}} <span class="semi-bold"> Precio de venta actual: {% if producto.inventario.precio_venta_producto == 0 %} <strong><font size="4" style="color:red;">{{producto.inventario.precio_venta_producto}}</font> <marquee behavior="alternate">Asignele precio a este producto</marquee></strong> {% else %}{{producto.inventario.precio_venta_producto}} {% endif %} </span></font> </div>
                        <table class="table">
                            <thead class="bg-primary">
                                <tr>
                                    <th>fecha</th>
                                    <th>Cantidad Entrada</th>
                                    <th>Precio Entrada</th>
                                    <th>Monto entrada</th>
                                    <th>Cantidad Salida</th>
                                    <th>Precio Salida</th>
                                    <th>Monto Salida</th>
                                    <th>Cantidad Existencia</th>
                                    <th>Precio Existencia</th>
                                    <th>Monto Exitencia</th>       
                                </tr>
                            </thead>
                            <tbody>
                                    {% for k in kardex %}
                                        <tr>
                                            <td>{{k.fecha}}</td>
                                            {% if k.cantEntrada == 0 %}
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                            {% else %}
                                                <td>{{k.cantEntrada}}</td>
                                                <td>{{k.precEntrada}}</td>
                                                <td>{{k.montoEntrada}}</td>
                                            {% endif %}
                                            {% if k.cantSalida == 0 %}
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                            {% else %}
                                                <td>{{k.cantSalida}}</td>
                                                <td>{{k.precSalida}}</td>
                                                <td>{{k.montoSalida}}</td>
                                            {% endif %}
                                            <td>{{k.cantExistencia}}</td>
                                            <td>{{k.precExistencia}}</td>
                                            <td>{{k.montoExistencia}}</td>
                                        </tr>
                                    {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="row text-center">
                <div class="col">
                    <nav aria-label="Page navigation example">
                        <ul class="pagination">
                            {% if kardex.has_previous %}
                            <li class="page-item"><a class="page-link" href="?page={{ kardex.previous_page_number }}{% if parametros.urlencode %}&{{ parametros.urlencode }}{% endif %}">Anterior</a></li>
                            {%else%}
                            <li class="disabled"><span>Anterior</span></li>
                            {% endif %} {% for i in kardex.paginator.page_range %} {% if kardex.number == i %}
                            <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span>
                            </li>
                            {% else %}
                            <li><a href="?page={{ i }}{% if parametros.urlencode %}&{{ parametros.urlencode }}{% endif %}">{{ i }}</a></li>
                            {% endif %} {% endfor %} {% if kardex.has_next %}
                            <li class="page-item"><a class="page-link" href="?page={{ kardex.next_page_number }}{% if parametros.urlencode %}&{{ parametros.urlencode }}{% endif %}">Siguiente</a></li>
                            {%else%}
                            <li class="disabled"><span>Siguiente</li>
                                        {% endif %}
                                    </ul>                        
                                </nav>
                            </div>
                        </div>
                </div>
        </div>
    </div>
</div> 

<div class="modal fade" id="idmensaje" tabindex="-1" role="dialog" aria-labelledy="modal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h5 class="modal-title">Cambiar precio de venta</h5>
            </div>
            <div class="modal-body">
                <form method="POST">
                    {% csrf_token %}
                    <label>El precio actual es: <strong> {{producto.inventario.precio_venta_producto}} </strong> El precio sugerido es: <strong> {{precio_sugerido}} </strong> </label>
                    <p>
                        <label>Nuevo precio: </label>
                        <input type="number" name="nuevoPrecio" step="0.01" id="nuevoPrecio" class="control" value="{{precio_sugerido}}" min="0.01" required="">
                    </p>
                    <input type="submit" name="aceptar" value="guardar" class="btn btn-success aceptar">
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary aceptar" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>


{%else%}
<h1>usuario anonimo</h1>
{% endif %}
{% endblock Body %}