{% extends 'baseUser.html' %}
{% load staticfiles %}

{% block Titulo %}
	Nueva Compra
{% endblock Titulo %}

{% block CSS %}
<link rel="stylesheet" href="{% static 'css/jquery.dataTables.min.css' %}">
<style>
      .bootstrap-select .btn, .bootstrap-select .dropdown-menu {
            font-family: 'Open Sans', sans-serif;
	      font-size: 12px;
      }

      thead{
            background-color:rgba(66,139,202,1); 
            color: whitesmoke;
      }

      td.highlight {
            background-color: whitesmoke !important;
      }

      .alerta{
            color:rgba(217,83,79,1);            
      }

</style>

{% endblock CSS %}

{% block usuario %}
      {{user.username}}
{% endblock usuario %}
    
{% block Body %}
{% if user.is_superuser %}
<h1>superusuario</h1>
{%elif user.is_authenticated%}

<section class="panel default blue_title h2 text-center">
            <div class="panel-heading">NUEVA<span class="semi-bold"> COMPRA</span> </div>
</section>

<section class="panel default blue_title h2 text-center">

<form action="" method="post">
      {% csrf_token %}
      <div class="row">
            <div class="col-md-12">
                        <div class="block-web">
                              {% if error %}
                              <div class="alert alert-warning">
                                          <strong>¡Advertencia!</strong> {{error}}
                              </div>
                              {% endif %}
                              <div class="row">
                                    <div class="col-md-4">
                                          <div class="form-group">
                                                <label for="idproveedor">Proveedor:</label>
                                                {% if proveedores %}
                                                <select name="idproveedor" id="idproveedor" class="form-control selectpicker" data-live-search="true" required>
                                                      {% for proveedor in proveedores %}
                                                      <option value="{{proveedor.id}}">{{proveedor.razon_social}}</option>
                                                      {% endfor %}
                                                </select>
                                                {% else %}
                                                      <br><strong>¡Ningún proveedor creado!</strong>
                                                {% endif %}
                                          </div>
                                    </div>
                                    <div class="col-md-4">
                                                <div class="form-group">
                                                            <label for="empleado">Empleado:</label>
                                                      {% if empleado %}
                                                            <input type="text" name="empleado" id="empleado" class="form-control" value="{{empleado}}" disabled required>
                                                      {% else %}
                                                            <strong>Empleado no asignado.</strong>
                                                      {% endif %}
                                                </div>
                                    </div>
                                    <div class="col-md-4">
                                                <div class="form-group">
                                                            <label for="fecha_hora">Fecha y Hora:</label>
                                                      {% if empleado %}
                                                            <input type="text" name="fecha_hora" id="fecha_hora" class="form-control" value="{{fecha_hora}}" disabled required>
                                                      {% else %}
                                                            <strong>Empleado no asignado.</strong>
                                                      {% endif %}
                                                </div>
                                    </div>
                                    <div class="col-md-12">
                                          <div class="form-group">
                                                <label for="descripcion">Descripción:</label>
                                                <input type="text" name="descripcion" id="descripcion" class="form-control" required>
                                          </div>
                                    </div>                                                                          
                              </div>

                        </div>
                  </div>
      </div>

      <strong>PRODUCTO:</strong>

      <div class="row">
            <div class="col-md-12">
                  <div class="block-web">
                        <div class="row">
                        {% if productos %}
                              <div class="col-md-5">
                                    <div class="form-group">
                                          <label for="aux_producto">Producto:</label>
                        
                                                <select name="aux_producto" id="aux_producto" class="form-control selectpicker" data-live-search="true" required>
                                                {% for producto in productos %}
                                                      <option value="{{producto.id}}">{{producto}}</option>
                                                {% endfor %}
                                                </select>
                                    </div>
                              </div>
                              <div class="col-md-2">
                                    <div class="form-group">
                                          <label for="aux_cantidad">Cantidad:</label>
                                          <input type="number" min="0" name="aux_cantidad" id="aux_cantidad" class="form-control" onkeypress="return validar_entero(event)">
                                    </div>
                              </div>
                              <div class="col-md-2">
                                          <div class="form-group">
                                                <label for="aux_p_compra">Precio de compra:</label>
                                                <input type="number" min="0" step="0.01" name="aux_p_compra" id="aux_p_compra" class="form-control" onkeypress="return validar_decimal(event)">
                                          </div>
                              </div> 
                              <div class="col-md-2">
                                          <div class="form-group">
                                                <label for="aux_descuento">Descuento:</label>
                                                <input type="number" min="0" step="0.01" max="1" name="aux_descuento" id="aux_descuento" class="form-control" value="0" onkeypress="return validar_decimal(event)">
                                          </div>
                              </div>                               
                              <div class="col-md-1">
                                          <div class="form-group">
                                                <label for="btn_agregar"><strong>Agregar</strong></label>
                                                <button type="button" id="btn_agregar" name="btn_agregar" class="agregar btn btn-primary">+</button>
                                          </div>
                              </div>

                        {% else %}
                              <div class="alert alert-danger" role="alert">
                                    <strong>Importante:</strong> ¡Debe agregar productos para realizar una compra!
                              </div>
                        {% endif %}
                                    <table id="tabla_de_detalles" class="table display table-stripped table-bordered table-condensed table-hover">
                                          <thead>
                                                <th>Producto</th>
                                                <th>Cantidad</th>
                                                <th>Precio de compra</th>
                                                <th>Descuento</th>
                                                <th>Subtotal</th>
                                                <th>Eliminar</th>
                                          </thead>
                                          <tbody>
                                          </tbody>
                                          <tfoot>
                                                <th>Total (con IVA)</th>
                                                <th></th>
                                                <th></th>
                                                <th></th>
                                                <th><input type="hidden" step="0.01" name="total_iva_input" id="total_iva_input" value="0.00"><strong id="total_iva" name="total_iva">0.00</strong></th>
                                                <th></th>
                                          </tfoot>
                                          <tfoot>
                                                <th>Total</th>
                                                <th></th>
                                                <th></th>
                                                <th></th>
                                                <th><input type="hidden" step="0.01" name="total_input" id="total_input" value="0.00"><strong id="total" name="total">0.00</strong></th>
                                                <th></th>
                                          </tfoot>                                          
                                    </table>                                                                                                                       
                        </div>
                  </div>
            </div>
      </div>

      <div class="row">
            <div class="col-md-12">
                        <div class="form-group" id="guardar">
                              <button type="submit" class="btn btn-success">Guardar</button>
                              <a onclick="return abrir_modal('{% url 'inventario:CancelarCompra' %}')" class="btn btn-danger">Cancelar</a>
                        </div>
            </div>
            <div class="col-md-12">
                  <h6 id="alerta_guardar" class="alerta"></h6>
            </div>
      </div>

      <!-- Importante para el modal NO BORRAR -->
      <div id="popup" class="modal fade" role="dialog">
      </div>
</form>
</section>
{% endif %}


{% endblock Body %}

{% block Script %}
      <!--Static-->
      <script src="{% static 'js/jquery.dataTables.min.js' %}"></script>



      <!--Tabla-->
      <script>
            $(document).ready(function()
            {
                  $("#guardar").hide();
                  $("#alerta_guardar").text("¡No puede realizar compra, si no agrega productos a la tabla!")
                  
                  var table = $('#tabla_de_detalles').DataTable( {
                  //"paging":   false,
                  "info": false,
                  "pagingType": "full_numbers",
                  "language": {
                        url: "/static/json/es_ES.json"
                  }
                  });

                  $('#tabla tbody')
                  .on( 'mouseenter', 'td', function () {
                        var colIdx = table.cell(this).index().column;
      
                        $( table.cells().nodes() ).removeClass( 'highlight' );
                        $( table.column( colIdx ).nodes() ).addClass( 'highlight' );
                  });

                  agregar(table);

                  $('#tabla_de_detalles').on("click", ".eliminar", function(){
                        var $target = $(event.target);
                        var contador = $target.data("value");

                        total = total - subtotal[contador];
                        total_iva = total + total * 0.13
                        $("#total").html(total);
                        $("#total_input").val(total);
                        $("#total_iva").html(total_iva);
                        $("#total_iva_input").val(total_iva);
                        $("#fila" + contador).remove();
                        evaluar();

                        console.log($(this).parent());
                        table.row($(this).parents('tr')).remove().draw(false);
                  });

            });

            //Detalle de Compra y Compra

                  //Variables.
                  var cont = 0;
                  total = 0;
                  total_iva = 0;
                  subtotal = [];

                  //Funciones.
                  function agregar(table){
                        $('#btn_agregar').on( 'click', function () {
                              idproducto = $('#aux_producto').val();
                              producto = $("#aux_producto option:selected").text();
                              cantidad = $("#aux_cantidad").val();
                              precio_compra = $("#aux_p_compra").val();
                              descuento = $("#aux_descuento").val();

                              if (idproducto != "" && cantidad != "" && cantidad > 0 && precio_compra != "" && descuento != ""){
                                    subtotal[cont] = (cantidad * precio_compra ) - (cantidad * precio_compra * descuento);
                                    total = total + subtotal[cont];
                                    total_iva = total + total * 0.13

                                    //var fila = '<tr id="fila'+cont+'">
                                          //<td><input type="hidden" name="idproducto[]" value="'+idproducto+'">'+producto+'</td>
                                          //<td><input type="hidden" name="cantidad[]" value="'+cantidad+'">'+cantidad+'</td>
                                          //<td><input type="hidden" name="precio_compra[]" value="'+precio_compra+'">'+precio_compra+'</td>
                                          //<td><input type="hidden" name="precio_venta[]" value="'+precio_venta+'">'+precio_venta+'</td>
                                          //<td>'+subtotal[cont]+'</td><td><button type="button" class="btn btn-danger" onclick="eliminar('+cont+');">X</button></td></tr>';
                                    //$("#tabla_de_detalles").append(fila);
                                    table.row.add( [
                                          `<input type="hidden" id="idproducto[]" name="idproducto[]" value="${idproducto}">${producto}`,
                                          `<input type="hidden" id="cantidad[]" name="cantidad[]" value="${cantidad}">${cantidad}`,
                                          `<input type="hidden" id="precio_compra[]" name="precio_compra[]" value="${precio_compra}">${precio_compra}`,
                                          `<input type="hidden" id="descuento[]" name="descuento[]" value="${descuento}">${descuento}`,
                                          `${subtotal[cont]}`,
                                          `<button type="button" class="eliminar btn btn-danger" id="btn_eliminar" name="btn_eliminar" data-value="${cont}">X</button>`,
                                    ] ).draw( false );

                                    cont++;
                                    limpiar();
                                    $("#total").html(total);
                                    $("#total_input").val(total);
                                    $("#total_iva").html(total_iva);
                                    $("#total_iva_input").val(total_iva);
                                    evaluar();
                              
                                    
                              }else{
                                    swal("Campos vacíos");
                              }
                        } );
                  }

                  function limpiar(){
                        $("#aux_cantidad").val("");
                        $("#aux_p_compra").val("");
                        $("#aux_descuento").val("");
                  }

                  function evaluar(){
                        if(total>0){
                              $("#guardar").show();
                              $("#alerta_guardar").hide();

                        }else{
                              $("#guardar").hide();
                              $("#alerta_guardar").show();
                        }
                  }

                  function validar_entero(e){
                        tecla = (document.all) ? e.keyCode : e.which;

                        //Tecla de retroceso para borrar, siempre la permite.
                        if (tecla==8){
                              return true;
                        }
                              
                        // Patron de entrada, en este caso solo acepta numeros enteros.
                        patron =/[0-9]/;
                        tecla_final = String.fromCharCode(tecla);
                        return patron.test(tecla_final);
                  }

                  function validar_decimal(e){
                        tecla = (document.all) ? e.keyCode : e.which;

                        //Tecla de retroceso para borrar, siempre la permite.
                        if (tecla==8){
                              return true;
                        }
                              
                        // Patron de entrada, en este caso acepta decimales.
                        patron =/[0-9-.]/;
                        tecla_final = String.fromCharCode(tecla);
                        return patron.test(tecla_final);
                  }

                  $(function () {
                        $( "#aux_descuento" ).change(function() {
                        var max = parseInt($(this).attr('max'));
                        var min = parseInt($(this).attr('min'));
                        if ($(this).val() > max)
                        {
                              $(this).val(max);
                        }
                        else if ($(this).val() < min)
                        {
                              $(this).val(min);
                        }       
                        }); 
                  });

                  //Modal.
                  var modal;

                  function abrir_modal(url) {
                  $('#popup').load(url, function() {
                        $(this).modal('show');
                  });
                  return false;
                  }

                  function cerrar_modal() {
                  $('#popup').modal('hide');
                  return false;
                  }
      </script>
{% endblock Script %}