{% extends 'baseUser.html' %}
{% load staticfiles %}
{% block CSS %}
{% endblock CSS %}
{% block Body %}
<style type="text/css">
	.margen{
		padding-left: 10em;
	}
	.cliente{
		padding-top: 5em;
	}
	.empleado{
		padding-top: 5em;
	}
	.margenPag{
		padding-left: 20em;
	}
	.margenBtn{
		padding-left: 50em;
	}

</style>

{% if user.is_superuser %}
<h1>superusuario</h1>
{%elif user.is_authenticated%}
<div class="container">
<div class="row">
	<div class="col-sm-8 tab-content">
        <div class="row">
            <div class="col-xs-12">
                <div class="col-xs-12">
                    <a href="/mensajes/0" class="btn btn-info"><i class="fa fa-reply"></i></a>
                    <label class="margenBtn"></label>
                    <button type="button" class="btn btn-info" data-toggle="collapse" data-target="#bloque-buscar" aria-expanded="false">buscar
                        <i class="fa fa-search" aria-hidden="true"></i>
                    </button>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
            	<nav class="navbar">
            		<form class="form-inline collapse margenPag" method="GET" action="" id="bloque-buscar">
            			<div class="contenedor-bloque-buscar margenPag">
            				<input type="text" id="accion" name="accion" value="buscar" hidden="">
            				<input name="consulta" type="text" placeholder="Buscar" value="{{request.GET.consulta}}">
            				<button type="submit" class="btn btn-info"><i class="fa fa-search" aria-hidden="true"></i></button>
            			</div>
            		</form>
            	</nav>
            </div>
        </div>
		<div class="">
			<h3 class="alert-success center">Empleados</h3>
			{% for us in usuarios %}
			<div class="col-sm-10 empleado">
				<div class="col-sm-8 col-sm-offset-1">
					{% if us.foto %}
						<img src="/media/{{us.foto}}" alt="" height="100" style="float:left;">
					{% else %}
						<img src="{% static "images/user.png" %}" alt="" height="100" style="float:left;" />
					{% endif %}
					<div class="col-sm-8 margen">
						<h3><a href="/enviarNuevoMensaje/{{us.usuario.id}}"> {{us.usuario.username}} </a></h3>
						<label>Nombre: {{us.nombre}}, {{us.apellido}}</label><br>
						<label>Puesto: {{us.puesto}}</label>
					</div>
					<div class="col-sm-4 margen">
						<a class="btn btn-info" href="/mensajes/{{us.usuario.id}}"><i class="fa fa-envelope"></i> enviar mensaje</a>
					</div>
					<div class="col-sm-4 margen">
						<button class="btn btn-info" onclick="mostrarModal({{us.usuario.id}},'{{us.usuario.username}}')"><span><li class="fa fa-comments-o"></li></span> conectar</button>
					</div>
				</div>
			</div><br>
			{% endfor %}
		    <div class="row center margenPag">
		        <div class="col-sm-8">
		            <nav aria-label="Page navigation example">
		                <ul class="pagination">
		                    {% if usuarios.has_previous %}
		                    <li class="page-item"><a class="page-link" href="?pageEm={{ usuarios.previous_page_number }}{% if parametros.urlencode %}&{{ parametros.urlencode }}{% endif %}">Anterior</a></li>
		                    {%else%}
		                    <li class="disabled"><span>Anterior</span></li>
		                    {% endif %} {% for i in usuarios.paginator.page_range %} {% if usuarios.number == i %}
		                    <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span>
		                    </li>
		                    {% else %}
		                    <li><a href="?pageEm={{ i }}{% if parametros.urlencode %}&{{ parametros.urlencode }}{% endif %}">{{ i }}</a></li>
		                    {% endif %} {% endfor %} {% if usuarios.has_next %}
		                    <li class="page-item"><a class="page-link" href="?pageEm={{ usuarios.next_page_number }}{% if parametros.urlencode %}&{{ parametros.urlencode }}{% endif %}">Siguiente</a></li>
		                    {%else%}
		                    <li class="disabled"><span>Siguiente </span></li>
		                    {% endif %}
		                </ul>                        
		            </nav>
		        </div>
		    </div>
		</div>
		<div >
			<h3 class="alert-success center">Clientes</h3>
			{% for us in clientes %}
			<div class="col-sm-10 cliente">
				<div class="col-sm-8 col-sm-offset-1">
					{% if us.foto %}
						<img src="/media/{{us.foto}}" alt="" height="100" style="float:left;">
					{% else %}
						<img src="{% static "images/user.png" %}" alt="" height="100" style="float:left;" />
					{% endif %}
					<div class="col-sm-8 margen">
						<h3><a href="/enviarNuevoMensaje/{{us.usuario.id}}"> {{us.usuario.username}} </a></h3>
						<label>Nombre: {{us.nombre}}, {{us.apellido}}</label><br>
						<label>sexo: {{us.sexo}}</label>
					</div>
					<div class="col-sm-4 margen">
						<button class="btn btn-info" onclick="location.href='/mensajes/{{us.usuario.id}}'"><span><i class="fa fa-envelope"></i></span> enviar mensaje</button>
					</div>
					<div class="col-sm-4 margen">
						<button class="btn btn-info" onclick="mostrarModal({{us.usuario.id}},'{{us.usuario.username}}')"><span><li class="fa fa-comments-o"></li></span> conectar</button>
					</div>
				</div>
			</div><br>
			{% endfor %}
		    <div class="row center margenPag">
		        <div class="col-sm-8">
		            <nav aria-label="Page navigation example">
		                <ul class="pagination">
		                    {% if clientes.has_previous %}
		                    <li class="page-item"><a class="page-link" href="?pageCl={{ clientes.previous_page_number }}{% if parametros.urlencode %}&{{ parametros.urlencode }}{% endif %}">Anterior</a></li>
		                    {%else%}
		                    <li class="disabled"><span>Anterior</span></li>
		                    {% endif %} {% for i in clientes.paginator.page_range %} {% if clientes.number == i %}
		                    <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span>
		                    </li>
		                    {% else %}
		                    <li><a href="?pageCl={{ i }}{% if parametros.urlencode %}&{{ parametros.urlencode }}{% endif %}">{{ i }}</a></li>
		                    {% endif %} {% endfor %} {% if clientes.has_next %}
		                    <li class="page-item"><a class="page-link" href="?pageCl={{ clientes.next_page_number }}{% if parametros.urlencode %}&{{ parametros.urlencode }}{% endif %}">Siguiente</a></li>
		                    {%else%}
		                    <li class="disabled"><span>Siguiente </span></li>
		                    {% endif %}
		                </ul>                        
		            </nav>
		        </div>
		    </div>
		</div>
	</div>
</div>

<div class="modal fade" id="idmensaje" tabindex="-1" role="dialog" aria-labelledy="modal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
            	<h5 class="modal-title">enviar a: <span id="enviarmsj"></span> </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form method="POST">
                    {% csrf_token %}
                    <input type="text" name="id_usuario" id="id_usuario" value="0">
                    <div class="form-group row">
                            <label for="msj" class="col-md-4 col-form-label">mensaje:</label>
                            <div class="col-md-8">
                                <textarea name="mensaje" id="mensaje" class="form-control" placeholder="mensaje al administrador" title="ingrese su mensaje" required="" maxlength="290" max="290"></textarea>
                            </div>
                    </div>
                    <input type="submit" name="enviar" value="enviar" class="btn btn-success aceptar">
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary aceptar" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
	function mostrarModal(id_user,name){
		var valor = document.getElementById('id_usuario');
		valor.value=id_user;
		valor.hidden='true';
		$('#enviarmsj').text(name);
		$('#idmensaje').modal('show');
	}
</script>



{%else%}
<h1>usuario anonimo</h1>
{% endif %}
</div>
{% endblock Body %}