{% extends 'baseInterior.html' %}
{% load staticfiles %}
{% block Titulo %}
	Listado de Empleados Despedidos
{% endblock Titulo %}


  {% block usuario %}
      {{user.username}}
  {% endblock usuario %}

{% block Body %}
<section class="panel default blue_title h2">
              <div class="panel-heading">DESPEDIR <span class="semi-bold">EMPLEADOS</span> </div>
</section>
    <div class="row">
        <div class="col-md-12">
          <div class="block-web">
            {% if mensaje %}

                <div class="alert alert-danger">
                  <strong>{{mensaje}}<strong>
                </div>
                <br />

            {% endif %}
      <table class="table  table-hover">
          <thead>
            <tr>
              <th>#</th>
              <th>Nombre</th>
              <th>Apellido</th>
              <th>DUI</th>
              <th>NIT</th>
              <th>Puesto</th>
            </tr>
          </thead>
          <tbody>
          	{% for empleado in empleados %}
          		<tr>
      		      	<td>{{ forloop.counter }}</td>
      		      	<td>{{empleado.nombre}}</td>
      		      	<td>{{empleado.apellido}}</td>
      		      	<td>{{empleado.dui}}</td>
      		      	<td>{{empleado.nit}}</td>
      		      	<td>{{empleado.puesto.nombre}}</td>
      		    </tr>
            	{% endfor %}
          </tbody>
        </table>
        <a href="{% url 'SIGPAd:ReporteDeDespido' %}" class="btn btn-primary">Generar PDF</a>
    </div>
  </div>
</div>


{% endblock Body %}