{% extends "baseInterior.html" %}
{% load staticfiles %}

	{% block Titulo %}
		Ingresar Puestos
	{% endblock Titulo %}

	{% block CSS %}
	<link rel="stylesheet" type="text/css" href="{% static "exterior/css/ingresarPuesto.css" %}">
	{% endblock CSS %}

	{% block usuario %}
  		{{user.username}}
  	{% endblock usuario %}
  	
	{% block Body %}
 	
 	{%if alerta %}
 		<p class="alert alert-danger text-center"><b>{{alerta}}</b></p>
 	{%endif%}
<div class="row">
        <div class="col-md-6">
          <div class="block-web">
            <div class="header">
              <!--<div class="actions"> <a class="minimize" href="#"><i class="fa fa-chevron-down"></i></a><a class="close-down" href="#"><i class="fa fa-times"></i></a> </div>-->
              <h3 class="content-header"><strong>HORAS EXTRA</strong></h3>
            </div>
			<b><center>{{validar}}</center></b>
			<div class="porlets-content">
				<form action="" method="POST" role="form" enctype="multipart/form-data" accept-charset="UTF-8" class="form-horizontal row-border" >
	            {% csrf_token %}

				<div class="form-group">
	                  <label class="col-sm-3 control-label">Cantidad de Horas Extra</label>
	                  <div class="col-sm-9">
						<input class="input100" type="number" placeholder="Ingresar Horas Extra" id="cantidad" name="cantidad" required="required" min="0">
	                  </div>
	            </div><!--/form-group--> 

				<div class="form-group">
	                  <label class="col-sm-3 control-label">Fecha</label>
	                  <div class="col-sm-9">
						<input class="input100" type="date" placeholder="Ingresar Fecha" id="fecha" name="fecha" required="required">
	                  </div>
	            </div><!--/form-group--> 

					<div class="container-login100-form-btn btn-ingresar" >
						<button class="btn btn-success" type="submit">
							Registrar
						</button>
					</div>

	        </form>

	{% endblock Body %}