{% extends "base_exterior.html" %} 
{% load staticfiles %} 

{% block CSS %}
    <style>
        html,body{
            height:100%;
            width:100%;
        }

        .imagen{
            height: 200%;
            width: 100%;
            border-radius: 15px;
        }

        .color{
          padding: 10px;
          background-color: rgba(255, 255, 255, 0.2);
          border-radius: 15px;
          color:#262a33;
        }

        .alto{
          height: 220px;
          border: 10px solid transparent;
          margin-bottom: 25px;
        }

        .alto:hover {
            border-color: #f1f1f1;
        }

        .letra{
          font-size: 12px;
        }

        .colors{
          background-color:#2c3e50;
          color: white;
        }

      </style>

{% endblock CSS %}

{% block Navegacion %}
<!-- Navigation -->
<nav class="navbar navbar-expand-lg bg-secondary fixed-top text-uppercase" id="mainNav">
        <div class="container">
          <a class="navbar-brand js-scroll-trigger" href="#page-top">SIGPAd</a>
          <button class="navbar-toggler navbar-toggler-right text-uppercase bg-primary text-white rounded" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            Menu
            <i class="fas fa-bars"></i>
          </button>
          <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
              <li class="nav-item mx-0 mx-lg-1">
                <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="#portfolio">Catalógo</a>
              </li>
              <li class="nav-item mx-0 mx-lg-1">
                <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="#about">¿Quiénes somos?</a>
              </li>
              <li class="nav-item mx-0 mx-lg-1">
                <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="#contact">Contáctenos</a>
              </li>
              <li class="nav-item mx-0 mx-lg-1">
                <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="" data-toggle="modal" data-target="#login">Iniciar Sesión</a>
              </li>
              <li class="nav-item mx-0 mx-lg-1">
                  <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="/registrarCliente">Registrarse</a>
                </li>              
            </ul>
          </div>
        </div>
</nav>
{% endblock Navegacion %}

{% block Body %}
      <!-- Header -->
      <header class="masthead bg-primary text-white text-center">
        <div class="container">
            {% if validar %}
            <h3 class="alert-danger">{{validar}}</h3>
            {% endif %}
                <div class="row">
                        <div class="col-md-6">
                                <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                                        <ol class="carousel-indicators">
                                          <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                                          <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                                          <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                                        </ol>
                                        <div class="carousel-inner">
                                          <div class="carousel-item active">
                                            <img class="imagen" src="{% static 'exterior/img/compu_oferta_5.png'%}" alt="First slide">
                                          </div>
                                          <div class="carousel-item">
                                            <img class="imagen" src="{% static 'exterior/img/compu_oferta_2.png'%}" alt="Second slide">
                                          </div>
                                          <div class="carousel-item">
                                            <img class="imagen" src="{% static 'exterior/img/compu_oferta_4.png'%}" alt="Third slide">
                                          </div>
                                        </div>
                                        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                                          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                          <span class="sr-only">Previous</span>
                                        </a>
                                        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                                          <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                          <span class="sr-only">Next</span>
                                        </a>
                                </div>

                                <hr class="star-light mb-5">
                                
                        </div>
                        <div class="col-md-6 color">
                                <img class="img-fluid d-block mx-auto alto" src="{% static 'exterior/img/tienda_2.png'%}" alt="">
                                <h4 class="font-weight-light mb-0">¡Aquí encontrarás las mejores ofertas de computadoras y accesorios!</h4>
                                <button class="btn btn-success btn-lg rounded-pill" onclick="location.href='/registrarCliente'">Registrarse</button>
                        </div>    
                    </div>
          
        </div>
      </header>
  
      <!-- Portfolio Grid Section -->
      <section class="portfolio" id="portfolio">
          <h2 class="text-center text-uppercase text-secondary mb-0">Catalógo</h2>
          <hr class="star-dark mb-5">
          <div class="container mt-5">
              {% if error %}
                  <div class="alert-info">
                      <h5 class="text-center">{{error}}</h5>
                  </div>
              {% else %}
              <div class="row mt-5">    
                      {% for p in art %}
                      <div class="col-sm-12 col-md-6 col-lg-4 mt-4">
                          <div class="card text-center mb-3" style="height: 20rem;">
                              <div class="text-center">
                                  <div class="existencia">
                                      Existencia: {{p.inventario.existencia}}
                                  </div>
                                  <img src="{{p.img.url}}" alt="" class="card-img-top img-fluid" style="width: 24rem; height: 16rem;">
                                  <a href="" class="btn btn-outline-info btn-block" data-toggle="modal" data-target="#iniciar">
                                      <i class="fa fa-eye" aria-hidden="true"></i> {{p.nombre}}
                                  </a>  
                              </div>                                            
                          </div>
                      </div>
                      {%endfor%}
              
                  </div>
              </div>
              <div class="row mt-5 justify-content-center" id="pag">
                  <nav aria-label="Page navigation example">
                      <ul class="pagination">
                          {% if art.has_previous%}
                          <li class="page-item">
                              <a class="page-link" id="anterior-pag" href="?page={{ art.previous_page_number }}{% if parametros.urlencode %}&{{ parametros.urlencode }}{% endif %}">Anterior</a>
                          </li>
                          {% else %}
                          <li class="page-item">
                              <a class="page-link disabled">Anterior</a>
                          </li>
                          {%endif%} {% for i in art.paginator.page_range %} {% if art.number == i %}
                          <li class="page-item active numPag " val="{{i}}">
                              <a class="page-link" href="?page={{ i }}{% if parametros.urlencode %}&{{ parametros.urlencode }}{% endif %}">{{i}}</a>
                          </li>
                          {% else %}
                          <li class="page-item numPag">
                              <a class="page-link " href="?page={{ i }}{% if parametros.urlencode %}&{{ parametros.urlencode }}{% endif %}" val="{{i}}">{{i}}</a>
                          </li>
                          {%endif%} {%endfor%} {% if art.has_next %}
                          <li class="page-item">
                              <a class="page-link" id="siguiente-pag" href="?page={{ art.next_page_number }}{% if parametros.urlencode %}&{{ parametros.urlencode }}{% endif %}" val="{{ art.next_page_number }}">Siguiente</a>
                          </li> {%else%}
                          <li class="page-item ">
                              <a class="page-link disabled">Siguiente</a>
                          </li>
                          {%endif%}
                      </ul>
                  </nav>
              </div>
              {% endif %}
              
          </div>

      </section>
  
      <!-- About Section -->
      <section class="bg-primary text-white mb-0" id="about">
        <div class="container">
          <h2 class="text-center text-uppercase text-white">¿Quiénes somos?</h2>
          <hr class="star-light mb-5">
          <div class="row">
            <div class="col-lg-4 ml-auto text-center">
                <i class="fa fa-check fa-5x" aria-hidden="true"></i>
                <b>Acerca de:</b>
                <p class="lead">CompuOfertas es una empresa iniciada en el año 2006, dedicada a la venta y reparación de equipo informáticos (refurbished). Brindamos a nuestros clientes soluciones practicas y eficientes.</p>
            </div>
            <div class="col-lg-4 mr-auto">
              <i class="fa fa-desktop fa-5x" aria-hidden="true"></i>
              <b class="text-center">Donde encontrarás:</b>
              <ul class="lead">
                <li>Venta de computadoras.</li>  
                <li>Accesorios.</li>
                <li>Reparación</li>
                <li>Repuestos para diferentes modelos y marcas de computadores.</li>
              </ul>
              </p>
            </div>
            <div class="col-lg-4 ml-auto text-center">
                <i class="fa fa-trophy fa-5x" aria-hidden="true"></i>
                <b>Excelentes Productos</b>
                <p class="lead">Ofrecemos productos de excelente calidad, innovación y variedad a precios accesibles contribuyendo así para la mejor inversión de su dinero.</p>
            </div>

          </div>
          <div class="text-center mt-4">
          </div>
          
        </div>
      </section>
  
      <!-- Contact Section -->
      <section id="contact">
        <div class="container">
          <h2 class="text-center text-uppercase text-secondary mb-0">Contáctenos</h2>
          <hr class="star-dark mb-5">
          <div class="row">
            <div class="col-lg-8 mx-auto">
              <!-- To configure the contact form email address, go to mail/contact_me.php and update the email address in the PHP file on line 19. -->
              <!-- The form should work on most web servers, but if the form is not working you may need to configure your web server differently. -->
              <form action="" method="POST" role="form" enctype="multipart/form-data" accept-charset="UTF-8" class="needs-validation" novalidate>
                {% csrf_token %}
                <div class="form-row">
                  <div class="col-md-4 mb-3">
                    <label for="nombre"><b>Nombre</b></label>
                    <input type="text" class="form-control" placeholder="Ingrese Nombre" id="nombre" name="nombre" required>
                  </div>
                  <div class="col-md-8 mb-3">
                    <label for="email"><b>Correo</b></label>
                    <input type="email" class="form-control"  placeholder="Ingrese correo electrónico" id="email" name="email" required>
                    <p id="validar_email" style="color:#e51a4c;">Formato no adecuado. Ejemplo a seguir: prueba@gmail.com</p>
                  </div>
                </div>
                <div class="form-group">
                    <label for="mensaje"><b>Mensaje</b></label>
                    <textarea class="form-control" style="height: 100px;" id="mensaje" name="mensaje" placeholder="Ingrese mensaje" required></textarea>
                </div> 
                <div class="form-group">
                    <button type="button" class="btn btn-primary btn-xl" id="enviar_mensaje" onclick="contacto()">Enviar</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </section>
  
      <!-- Footer -->
      <footer class="footer text-center">
        <div class="container">
          <div class="row">
            <div class="col-md-4 mb-5 mb-lg-0">
              <h4 class="text-uppercase mb-4">SUCURSALES</h4>
              <ul>
                <li><p>1ª Calle poniente y 15ª Av norte, Edificio Medico Quirúrgico local 4
                <br>San Salvador El Salvador.</p></li>
                <li><p>Alameda Roosvelt Nº2425 Local C, Contiguo a Western Union 1101
                    <br>San Salvador El Salvador.
                </p></li>
              </ul>
            </div>
            <div class="col-md-4 mb-5 mb-lg-0">
              <h4 class="text-uppercase mb-4">Around the Web</h4>
              <ul class="list-inline mb-0">
                <li class="list-inline-item">
                  <a class="btn btn-outline-light btn-social text-center rounded-circle" href="#">
                    <i class="fab fa-fw fa-facebook-f"></i>
                  </a>
                </li>
                <li class="list-inline-item">
                  <a class="btn btn-outline-light btn-social text-center rounded-circle" href="#">
                    <i class="fab fa-fw fa-google-plus-g"></i>
                  </a>
                </li>
                <li class="list-inline-item">
                  <a class="btn btn-outline-light btn-social text-center rounded-circle" href="#">
                    <i class="fab fa-fw fa-twitter"></i>
                  </a>
                </li>
                <li class="list-inline-item">
                  <a class="btn btn-outline-light btn-social text-center rounded-circle" href="#">
                    <i class="fab fa-fw fa-linkedin-in"></i>
                  </a>
                </li>
                <li class="list-inline-item">
                  <a class="btn btn-outline-light btn-social text-center rounded-circle" href="#">
                    <i class="fab fa-fw fa-dribbble"></i>
                  </a>
                </li>
              </ul>
            </div>
            <div class="col-md-4">
              <h4 class="text-uppercase mb-4">Telefóno:</h4>
              <p class="lead mb-0">(503) 2562-9722  <br> 7293-6254 </p>
            </div>
          </div>
          <div class="row">
              <div class="col-md-12 mt-4">
                <h4 class="text-uppercase mb-4">Ubicación</h4>
                <p class="lead"><i class="fa fa-location-arrow " aria-hidden="true"></i> 
                    <i>Visitenos en:</i> Alameda Roosvelt Nº2425 Local C, Contiguo a Western Union 1101 San SalvadorEl Salvador.
                </p>
                <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d3876.3004044371764!2d-89.214528!3d13.700247!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xec898008f259d1e6!2sCompuOfertas!5e0!3m2!1ses!2ses!4v1543116865536" width="100%" height="250" frameborder="0" style="border:0" allowfullscreen></iframe>
              </div>
          </div>
        </div>
      </footer>
  
      <div class="copyright py-4 text-center text-white">
        <div class="container">
          <small>Copyright &copy; SIGPAD - DSI215 - 2018</small>
        </div>
      </div>
  
      <!-- Scroll to Top Button (Only visible on small and extra-small screen sizes) -->
      <div class="scroll-to-top d-lg-none position-fixed ">
        <a class="js-scroll-trigger d-block text-center text-white rounded" href="#page-top">
          <i class="fa fa-chevron-up"></i>
        </a>
      </div>
  
      <!-- Portfolio Modals -->
  
      <!-- Portfolio Modal 1 -->
      <div class="portfolio-modal mfp-hide" id="portfolio-modal-1">
        <div class="portfolio-modal-dialog bg-white">
          <a class="close-button d-none d-md-block portfolio-modal-dismiss" href="#">
            <i class="fa fa-3x fa-times"></i>
          </a>
          <div class="container text-center">
            <div class="row">
              <div class="col-lg-8 mx-auto">
                <h2 class="text-secondary text-uppercase mb-0">Project Name</h2>
                <hr class="star-dark mb-5">
                <img class="img-fluid mb-5" src="{% static 'exterior/img/portfolio/cabin.png' %}" alt="">
                <p class="mb-5">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Mollitia neque assumenda ipsam nihil, molestias magnam, recusandae quos quis inventore quisquam velit asperiores, vitae? Reprehenderit soluta, eos quod consequuntur itaque. Nam.</p>
                <a class="btn btn-primary btn-lg rounded-pill portfolio-modal-dismiss" href="#">
                  <i class="fa fa-close"></i>
                  Close Project</a>
              </div>
            </div>
          </div>
        </div>
      </div>
  
      <!-- Portfolio Modal 2 -->
      <div class="portfolio-modal mfp-hide" id="portfolio-modal-2">
        <div class="portfolio-modal-dialog bg-white">
          <a class="close-button d-none d-md-block portfolio-modal-dismiss" href="#">
            <i class="fa fa-3x fa-times"></i>
          </a>
          <div class="container text-center">
            <div class="row">
              <div class="col-lg-8 mx-auto">
                <h2 class="text-secondary text-uppercase mb-0">Project Name</h2>
                <hr class="star-dark mb-5">
                <img class="img-fluid mb-5" src="{% static 'exterior/img/portfolio/cake.png' %}" alt="">
                <p class="mb-5">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Mollitia neque assumenda ipsam nihil, molestias magnam, recusandae quos quis inventore quisquam velit asperiores, vitae? Reprehenderit soluta, eos quod consequuntur itaque. Nam.</p>
                <a class="btn btn-primary btn-lg rounded-pill portfolio-modal-dismiss" href="#">
                  <i class="fa fa-close"></i>
                  Close Project</a>
              </div>
            </div>
          </div>
        </div>
      </div>
  
      <!-- Portfolio Modal 3 -->
      <div class="portfolio-modal mfp-hide" id="portfolio-modal-3">
        <div class="portfolio-modal-dialog bg-white">
          <a class="close-button d-none d-md-block portfolio-modal-dismiss" href="#">
            <i class="fa fa-3x fa-times"></i>
          </a>
          <div class="container text-center">
            <div class="row">
              <div class="col-lg-8 mx-auto">
                <h2 class="text-secondary text-uppercase mb-0">Project Name</h2>
                <hr class="star-dark mb-5">
                <img class="img-fluid mb-5" src="{% static 'exterior/img/portfolio/circus.png' %}" alt="">
                <p class="mb-5">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Mollitia neque assumenda ipsam nihil, molestias magnam, recusandae quos quis inventore quisquam velit asperiores, vitae? Reprehenderit soluta, eos quod consequuntur itaque. Nam.</p>
                <a class="btn btn-primary btn-lg rounded-pill portfolio-modal-dismiss" href="#">
                  <i class="fa fa-close"></i>
                  Close Project</a>
              </div>
            </div>
          </div>
        </div>
      </div>
  
      <!-- Portfolio Modal 4 -->
      <div class="portfolio-modal mfp-hide" id="portfolio-modal-4">
        <div class="portfolio-modal-dialog bg-white">
          <a class="close-button d-none d-md-block portfolio-modal-dismiss" href="#">
            <i class="fa fa-3x fa-times"></i>
          </a>
          <div class="container text-center">
            <div class="row">
              <div class="col-lg-8 mx-auto">
                <h2 class="text-secondary text-uppercase mb-0">Project Name</h2>
                <hr class="star-dark mb-5">
                <img class="img-fluid mb-5" src="{% static 'exterior/img/portfolio/game.png' %}" alt="">
                <p class="mb-5">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Mollitia neque assumenda ipsam nihil, molestias magnam, recusandae quos quis inventore quisquam velit asperiores, vitae? Reprehenderit soluta, eos quod consequuntur itaque. Nam.</p>
                <a class="btn btn-primary btn-lg rounded-pill portfolio-modal-dismiss" href="#">
                  <i class="fa fa-close"></i>
                  Close Project</a>
              </div>
            </div>
          </div>
        </div>
      </div>
  
      <!-- Portfolio Modal 5 -->
      <div class="portfolio-modal mfp-hide" id="portfolio-modal-5">
        <div class="portfolio-modal-dialog bg-white">
          <a class="close-button d-none d-md-block portfolio-modal-dismiss" href="#">
            <i class="fa fa-3x fa-times"></i>
          </a>
          <div class="container text-center">
            <div class="row">
              <div class="col-lg-8 mx-auto">
                <h2 class="text-secondary text-uppercase mb-0">Project Name</h2>
                <hr class="star-dark mb-5">
                <img class="img-fluid mb-5" src="{% static 'exterior/img/portfolio/safe.png' %}" alt="">
                <p class="mb-5">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Mollitia neque assumenda ipsam nihil, molestias magnam, recusandae quos quis inventore quisquam velit asperiores, vitae? Reprehenderit soluta, eos quod consequuntur itaque. Nam.</p>
                <a class="btn btn-primary btn-lg rounded-pill portfolio-modal-dismiss" href="#">
                  <i class="fa fa-close"></i>
                  Close Project</a>
              </div>
            </div>
          </div>
        </div>
      </div>
  
      <!-- Portfolio Modal 6 -->
      <div class="portfolio-modal mfp-hide" id="portfolio-modal-6">
        <div class="portfolio-modal-dialog bg-white">
          <a class="close-button d-none d-md-block portfolio-modal-dismiss" href="#">
            <i class="fa fa-3x fa-times"></i>
          </a>
          <div class="container text-center">
            <div class="row">
              <div class="col-lg-8 mx-auto">
                <h2 class="text-secondary text-uppercase mb-0">Project Name</h2>
                <hr class="star-dark mb-5">
                <img class="img-fluid mb-5" src="{% static 'exterior/img/portfolio/submarine.png' %}" alt="">
                <p class="mb-5">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Mollitia neque assumenda ipsam nihil, molestias magnam, recusandae quos quis inventore quisquam velit asperiores, vitae? Reprehenderit soluta, eos quod consequuntur itaque. Nam.</p>
                <a class="btn btn-primary btn-lg rounded-pill portfolio-modal-dismiss" href="#">
                  <i class="fa fa-close"></i>
                  Close Project</a>
              </div>
            </div>
          </div>
        </div>
      </div>

              
 <!-- Importante para el modal del LogIn NO BORRAR -->              
<div class="modal fade letra" id="login" tabindex="-1" role="dialog" aria-labelledy="modal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header colors">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true" style="color:white;">&times;</span>
                </button>
                <h5 class="modal-title">INICIAR SESIÓN</h5>
            </div>
            <!--<form action="" method="POST">
                  {% csrf_token %} 
                  <div class="modal-body">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-inline" data-validate="Usuario es campo requerido.">
                                  <span class="col-md-4">Usuario </span>
                                  <input class="form-control col-md-6" type="text" placeholder="Ingresa Usuario" id="usr" name="usr" required="">
                                  <span class="focus-input100"></span>
                                </div>

                                <div class="form-inline" data-validate = "Contraseña es campo requerido.">
                                  <span class="col-md-4">Contraseña</span>
                                  <input class="form-control col-md-6" type="password" placeholder="Ingresa Contraseña" id="pwd" name="pwd" required="">
                                  <span class="focus-input100"></span>
                                </div>                        
                            </div>
                        </div>
                  </div>
                  <div class="modal-footer">
                      <input type="submit" value="Ingresar" class="btn btn-primary col-md-4" id="entrar">
                      <button type="button" class="btn btn-danger aceptar" data-dismiss="modal">Cerrar</button>
                  </div>
            </form>-->
            <div class="row">
                <div class="col-md-12">
                    <img class="img-fluid d-block mx-auto alto" src="{% static 'exterior/img/compu_oferta_2.png'%}" alt="">
                    <hr class="star-dark mb-5">
                </div>
                <div class="col-md-1"></div>
                <div class="col-md-10">
                    <form action="" method="POST">
                        {% csrf_token %} 
                        <div class="control-group">
                          <div class="form-group floating-label-form-group controls mb-0 pb-2">
                            <label>Usuario:</label>
                            <input class="form-control" type="text" placeholder="Ingresa Usuario" id="usr" name="usr" required="" data-validation-required-message="Ingresa tu usuario.">
                            <p class="help-block text-danger"></p>
                          </div>
                        </div>
                        <div class="control-group">
                          <div class="form-group floating-label-form-group controls mb-0 pb-2">
                            <label>Contraseña:</label>
                            <input class="form-control" type="password" placeholder="Ingresa Contraseña" id="pwd" name="pwd" required="" data-validation-required-message="Ingresa tu contraseña.">
                            <p class="help-block text-danger"></p>
                          </div>
                      </div>
                      <div class="modal-footer">
                          <input type="submit" value="Ingresar" class="btn btn-primary col-md-4 " id="entrar">
                          <button type="button" class="btn btn-danger aceptar" data-dismiss="modal">Cerrar</button>
                      </div>
                    </form>
                </div>
                <div class="col-md-1"></div>
              </div>
        </div>
    </div>
</div>


<div class="modal fade letra" id="iniciar" tabindex="-1" role="dialog" aria-labelledy="modal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header colors">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true" style="color:white;">&times;</span>
                </button>
                <h5 class="modal-title">Para ingresar aqui, inicie sesion</h5>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <img class="img-fluid d-block mx-auto alto" src="{% static 'exterior/img/compu_oferta_2.png'%}" alt="">
                    <hr class="star-dark mb-5">
                </div>
                <div class="col-md-1"></div>
                <div class="col-md-10">
                    <h5 class="modal-title">Inicie sesion!!!!!!!!!!!!</h5>
                </div>
                <div class="modal-footer col-md-12">
                  <button type="button" class="btn btn-danger aceptar" data-dismiss="modal">Cerrar</button>
                </div>
              </div>
        </div>
    </div>
</div>


 <!-- Importante para el modal de registro NO BORRAR -->
<div id="popup" class="modal fade" role="dialog">
</div>   

{% endblock Body %}

{% block Script %} 
<script>
        $(document).ready(function()
        {
          $("#validar_email").hide();
    
        });
    
        $('#email').change(function (e) {
            var emailRegex = /^(([^<>()[\]\.,;:\s@\"]+(\.[^<>()[\]\.,;:\s@\"]+)*)|(\".+\"))@(([^<>()[\]\.,;:\s@\"]+\.)+[^<>()[\]\.,;:\s@\"]{2,})$/i;
            var EmailId = this.value;
            if (emailRegex.test(EmailId)){
                this.style.backgroundColor = "";
                $("#validar_email").hide();
            }else{
                this.style.backgroundColor = "LightPink";
                $("#validar_email").show();
            }
        });

        var modal;

          function abrir_modal(url) {
              $('#popup').load(url, function() {
                  $(this).modal('show');
              });
              return false;
          }

          function cerrar_modal() {
              $('#popup').modal('hide');
              return false;
          }

          function contacto(){
            var emailRegex = /^(([^<>()[\]\.,;:\s@\"]+(\.[^<>()[\]\.,;:\s@\"]+)*)|(\".+\"))@(([^<>()[\]\.,;:\s@\"]+\.)+[^<>()[\]\.,;:\s@\"]{2,})$/i;
            var nombre = $("#nombre").val();
            var email = $("#email").val();
            var msg = $("#mensaje").val();
            if (msg != "" && nombre != "" && email != ""){
              if(emailRegex.test(email)){
                swal("Éxito");
                $.ajax({
                  type:'POST',
                  url: "{% url 'Foro:ForoIndexMensaje' %}" ,
                  data:{
                    nombre:$("#nombre").val(),
                    email:$("#email").val(),
                    mensaje: $("#mensaje").val(),
                    csrfmiddlewaretoken: $('input[name=csrfmiddlewaretoken]').val(),
                  },
                  beforeSend: function (){

                  },
                  success:function(){
                    $("#nombre").val("");
                    $("#email").val("");
                    $("#mensaje").val("");
                  }
                });
                    }else{
                swal("Error, en el formato del correo.");
              }
            }else{
              swal("¡Campos vacíos!");
            }
          }
</script>

<script src="{% static 'exterior/js/OpenLayers.js'%}"></script>
<script src="{% static 'exterior/js/kml-layer.js'%}"></script>
{% endblock Script %}