{% extends "base_exterior.html" %} 
{% load staticfiles %} 

{% block CSS %}
    <style>
        html,body{
            height:100%;
            width:100%;
        }

        .imagen{
            height: 200%;
            width: 100%;
            border-radius: 15px;
        }

        .color{
          padding: 10px;
          background-color: rgba(255, 255, 255, 0.2);
          border-radius: 15px;
          color:#262a33;
        }

        .alto{
          height: 220px;
          border: 10px solid transparent;
          margin-bottom: 25px;
        }

        .alto:hover {
            border-color: #f1f1f1;
        }

        .letra{
          font-size: 12px;
        }

        .colors{
          background-color:#2c3e50;
          color: white;
        }

      </style>

{% endblock CSS %}

{% block Navegacion %}
<!-- Navigation -->
<nav class="navbar navbar-expand-lg bg-secondary fixed-top text-uppercase" id="mainNav">
        <div class="container">
          <a class="navbar-brand js-scroll-trigger" href="#page-top">SIGPAd</a>
          <button class="navbar-toggler navbar-toggler-right text-uppercase bg-primary text-white rounded" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            Menu
            <i class="fas fa-bars"></i>
          </button>
          <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
              <li class="nav-item mx-0 mx-lg-1">
                <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="#portfolio">Catalógo</a>
              </li>
              <li class="nav-item mx-0 mx-lg-1">
                <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="#about">¿Quiénes somos?</a>
              </li>
              <li class="nav-item mx-0 mx-lg-1">
                <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="#contact">Contáctenos</a>
              </li>
              <li class="nav-item mx-0 mx-lg-1">
                <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="" data-toggle="modal" data-target="#login">Iniciar Sesión</a>
              </li>
            </ul>
          </div>
        </div>
</nav>
{% endblock Navegacion %}

{% block Body %}


      <!-- Header -->
      <header class="masthead bg-primary text-white text-center">
        <div class="container">
            {% if validar %}
            <h3 class="alert-danger">{{validar}}</h3>
            {% endif %}
                <div class="row">
                        <div class="col-md-6">
                                <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                                        <ol class="carousel-indicators">
                                          <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                                          <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                                          <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                                        </ol>
                                        <div class="carousel-inner">
                                          <div class="carousel-item active">
                                            <img class="imagen" src="{% static 'exterior/img/compu_oferta_5.png'%}" alt="First slide">
                                          </div>
                                          <div class="carousel-item">
                                            <img class="imagen" src="{% static 'exterior/img/compu_oferta_2.png'%}" alt="Second slide">
                                          </div>
                                          <div class="carousel-item">
                                            <img class="imagen" src="{% static 'exterior/img/compu_oferta_4.png'%}" alt="Third slide">
                                          </div>
                                        </div>
                                        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                                          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                          <span class="sr-only">Previous</span>
                                        </a>
                                        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                                          <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                          <span class="sr-only">Next</span>
                                        </a>
                                </div>

                                <hr class="star-light mb-5">
                                
                        </div>
                        <div class="col-md-6 color">
                                <img class="img-fluid d-block mx-auto alto" src="{% static 'exterior/img/tienda.png'%}" alt="">
                                <h4 class="font-weight-light mb-0">¡Aquí encontrarás las mejores ofertas de computadoras y accesorios!</h4>
                                <button class="btn btn-success btn-lg rounded-pill" onclick="location.href='/registrarCliente'">Registrarse</button>
                        </div>    
                    </div>
          
        </div>
      </header>
  
      <!-- Portfolio Grid Section -->
      <section class="portfolio" id="portfolio">
        <div class="container">
          <h2 class="text-center text-uppercase text-secondary mb-0">Catalógo
          </h2>
          <hr class="star-dark mb-5">
          <div class="row">
            <div class="col-md-6 col-lg-4">
              <a class="portfolio-item d-block mx-auto" href="#portfolio-modal-1">
                <div class="portfolio-item-caption d-flex position-absolute h-100 w-100">
                  <div class="portfolio-item-caption-content my-auto w-100 text-center text-white">
                    <i class="fas fa-search-plus fa-3x"></i>
                  </div>
                </div>
                <img class="img-fluid" src="{% static 'exterior/img/portfolio/cabin.png' %}" alt="">
              </a>
            </div>
            <div class="col-md-6 col-lg-4">
              <a class="portfolio-item d-block mx-auto" href="#portfolio-modal-2">
                <div class="portfolio-item-caption d-flex position-absolute h-100 w-100">
                  <div class="portfolio-item-caption-content my-auto w-100 text-center text-white">
                    <i class="fas fa-search-plus fa-3x"></i>
                  </div>
                </div>
                <img class="img-fluid" src="{% static 'exterior/img/portfolio/cake.png' %}" alt="">
              </a>
            </div>
            <div class="col-md-6 col-lg-4">
              <a class="portfolio-item d-block mx-auto" href="#portfolio-modal-3">
                <div class="portfolio-item-caption d-flex position-absolute h-100 w-100">
                  <div class="portfolio-item-caption-content my-auto w-100 text-center text-white">
                    <i class="fas fa-search-plus fa-3x"></i>
                  </div>
                </div>
                <img class="img-fluid" src="{% static 'exterior/img/portfolio/circus.png' %}" alt="">
              </a>
            </div>
            <div class="col-md-6 col-lg-4">
              <a class="portfolio-item d-block mx-auto" href="#portfolio-modal-4">
                <div class="portfolio-item-caption d-flex position-absolute h-100 w-100">
                  <div class="portfolio-item-caption-content my-auto w-100 text-center text-white">
                    <i class="fas fa-search-plus fa-3x"></i>
                  </div>
                </div>
                <img class="img-fluid" src="{% static 'exterior/img/portfolio/game.png' %}" alt="">
              </a>
            </div>
            <div class="col-md-6 col-lg-4">
              <a class="portfolio-item d-block mx-auto" href="#portfolio-modal-5">
                <div class="portfolio-item-caption d-flex position-absolute h-100 w-100">
                  <div class="portfolio-item-caption-content my-auto w-100 text-center text-white">
                    <i class="fas fa-search-plus fa-3x"></i>
                  </div>
                </div>
                <img class="img-fluid" src="{% static 'exterior/img/portfolio/safe.png' %}" alt="">
              </a>
            </div>
            <div class="col-md-6 col-lg-4">
              <a class="portfolio-item d-block mx-auto" href="#portfolio-modal-6">
                <div class="portfolio-item-caption d-flex position-absolute h-100 w-100">
                  <div class="portfolio-item-caption-content my-auto w-100 text-center text-white">
                    <i class="fas fa-search-plus fa-3x"></i>
                  </div>
                </div>
                <img class="img-fluid" src="{% static 'exterior/img/portfolio/submarine.png' %}" alt="">
              </a>
            </div>
          </div>
        </div>
      </section>
  
      <!-- About Section -->
      <section class="bg-primary text-white mb-0" id="about">
        <div class="container">
          <h2 class="text-center text-uppercase text-white">¿Quiénes somos?</h2>
          <hr class="star-light mb-5">
          <div class="row">
            <div class="col-lg-4 ml-auto">
              <p class="lead">Freelancer is a free bootstrap theme created by Start Bootstrap. The download includes the complete source files including HTML, CSS, and JavaScript as well as optional LESS stylesheets for easy customization.</p>
            </div>
            <div class="col-lg-4 mr-auto">
              <p class="lead">Whether you're a student looking to showcase your work, a professional looking to attract clients, or a graphic artist looking to share your projects, this template is the perfect starting point!</p>
            </div>
          </div>
          <div class="text-center mt-4">
            <a class="btn btn-xl btn-outline-light" href="#">
              <i class="fas fa-download mr-2"></i>
              Download Now!
            </a>
          </div>
        </div>
      </section>
  
      <!-- Contact Section -->
      <section id="contact">
        <div class="container">
          <h2 class="text-center text-uppercase text-secondary mb-0">Contáctenos</h2>
          <hr class="star-dark mb-5">
          <div class="row">
            <div class="col-lg-8 mx-auto">
              <!-- To configure the contact form email address, go to mail/contact_me.php and update the email address in the PHP file on line 19. -->
              <!-- The form should work on most web servers, but if the form is not working you may need to configure your web server differently. -->
              <form name="sentMessage" id="contactForm" novalidate="novalidate">
                <div class="control-group">
                  <div class="form-group floating-label-form-group controls mb-0 pb-2">
                    <label>Name</label>
                    <input class="form-control" id="name" type="text" placeholder="Name" required="required" data-validation-required-message="Please enter your name.">
                    <p class="help-block text-danger"></p>
                  </div>
                </div>
                <div class="control-group">
                  <div class="form-group floating-label-form-group controls mb-0 pb-2">
                    <label>Email Address</label>
                    <input class="form-control" id="email" type="email" placeholder="Email Address" required="required" data-validation-required-message="Please enter your email address.">
                    <p id="validar_email" class="help-block text-danger"></p>
                  </div>
                </div>
                <div class="control-group">
                  <div class="form-group floating-label-form-group controls mb-0 pb-2">
                    <label>Phone Number</label>
                    <input class="form-control" id="phone" type="tel" placeholder="Phone Number" required="required" data-validation-required-message="Please enter your phone number.">
                    <p class="help-block text-danger"></p>
                  </div>
                </div>
                <div class="control-group">
                  <div class="form-group floating-label-form-group controls mb-0 pb-2">
                    <label>Message</label>
                    <textarea class="form-control" id="message" rows="5" placeholder="Message" required="required" data-validation-required-message="Please enter a message."></textarea>
                    <p class="help-block text-danger"></p>
                  </div>
                </div>
                <br>
                <div id="success"></div>
                <div class="form-group">
                  <button type="submit" class="btn btn-primary btn-xl" id="sendMessageButton">Send</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </section>
  
      <!-- Footer -->
      <footer class="footer text-center">
        <div class="container">
          <div class="row">
            <div class="col-md-4 mb-5 mb-lg-0">
              <h4 class="text-uppercase mb-4">Ubicación</h4>
              <p class="lead mb-0">1ª Calle poniente y 15ª Av norte, Edificio Medico Quirúrgico local 4
                <br>San Salvador El Salvador.</p>
            </div>
            <div class="col-md-4 mb-5 mb-lg-0">
              <h4 class="text-uppercase mb-4">Around the Web</h4>
              <ul class="list-inline mb-0">
                <li class="list-inline-item">
                  <a class="btn btn-outline-light btn-social text-center rounded-circle" href="#">
                    <i class="fab fa-fw fa-facebook-f"></i>
                  </a>
                </li>
                <li class="list-inline-item">
                  <a class="btn btn-outline-light btn-social text-center rounded-circle" href="#">
                    <i class="fab fa-fw fa-google-plus-g"></i>
                  </a>
                </li>
                <li class="list-inline-item">
                  <a class="btn btn-outline-light btn-social text-center rounded-circle" href="#">
                    <i class="fab fa-fw fa-twitter"></i>
                  </a>
                </li>
                <li class="list-inline-item">
                  <a class="btn btn-outline-light btn-social text-center rounded-circle" href="#">
                    <i class="fab fa-fw fa-linkedin-in"></i>
                  </a>
                </li>
                <li class="list-inline-item">
                  <a class="btn btn-outline-light btn-social text-center rounded-circle" href="#">
                    <i class="fab fa-fw fa-dribbble"></i>
                  </a>
                </li>
              </ul>
            </div>
            <div class="col-md-4">
              <h4 class="text-uppercase mb-4">Telefóno:</h4>
              <p class="lead mb-0">(503) 2562-9722  <br> 7293-6254 </p>
            </div>
          </div>
        </div>
      </footer>
  
      <div class="copyright py-4 text-center text-white">
        <div class="container">
          <small>Copyright &copy; SIGPAD - DSI215 - 2018</small>
        </div>
      </div>
  
      <!-- Scroll to Top Button (Only visible on small and extra-small screen sizes) -->
      <div class="scroll-to-top d-lg-none position-fixed ">
        <a class="js-scroll-trigger d-block text-center text-white rounded" href="#page-top">
          <i class="fa fa-chevron-up"></i>
        </a>
      </div>
  
      <!-- Portfolio Modals -->
  
      <!-- Portfolio Modal 1 -->
      <div class="portfolio-modal mfp-hide" id="portfolio-modal-1">
        <div class="portfolio-modal-dialog bg-white">
          <a class="close-button d-none d-md-block portfolio-modal-dismiss" href="#">
            <i class="fa fa-3x fa-times"></i>
          </a>
          <div class="container text-center">
            <div class="row">
              <div class="col-lg-8 mx-auto">
                <h2 class="text-secondary text-uppercase mb-0">Project Name</h2>
                <hr class="star-dark mb-5">
                <img class="img-fluid mb-5" src="{% static 'exterior/img/portfolio/cabin.png' %}" alt="">
                <p class="mb-5">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Mollitia neque assumenda ipsam nihil, molestias magnam, recusandae quos quis inventore quisquam velit asperiores, vitae? Reprehenderit soluta, eos quod consequuntur itaque. Nam.</p>
                <a class="btn btn-primary btn-lg rounded-pill portfolio-modal-dismiss" href="#">
                  <i class="fa fa-close"></i>
                  Close Project</a>
              </div>
            </div>
          </div>
        </div>
      </div>
  
      <!-- Portfolio Modal 2 -->
      <div class="portfolio-modal mfp-hide" id="portfolio-modal-2">
        <div class="portfolio-modal-dialog bg-white">
          <a class="close-button d-none d-md-block portfolio-modal-dismiss" href="#">
            <i class="fa fa-3x fa-times"></i>
          </a>
          <div class="container text-center">
            <div class="row">
              <div class="col-lg-8 mx-auto">
                <h2 class="text-secondary text-uppercase mb-0">Project Name</h2>
                <hr class="star-dark mb-5">
                <img class="img-fluid mb-5" src="{% static 'exterior/img/portfolio/cake.png' %}" alt="">
                <p class="mb-5">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Mollitia neque assumenda ipsam nihil, molestias magnam, recusandae quos quis inventore quisquam velit asperiores, vitae? Reprehenderit soluta, eos quod consequuntur itaque. Nam.</p>
                <a class="btn btn-primary btn-lg rounded-pill portfolio-modal-dismiss" href="#">
                  <i class="fa fa-close"></i>
                  Close Project</a>
              </div>
            </div>
          </div>
        </div>
      </div>
  
      <!-- Portfolio Modal 3 -->
      <div class="portfolio-modal mfp-hide" id="portfolio-modal-3">
        <div class="portfolio-modal-dialog bg-white">
          <a class="close-button d-none d-md-block portfolio-modal-dismiss" href="#">
            <i class="fa fa-3x fa-times"></i>
          </a>
          <div class="container text-center">
            <div class="row">
              <div class="col-lg-8 mx-auto">
                <h2 class="text-secondary text-uppercase mb-0">Project Name</h2>
                <hr class="star-dark mb-5">
                <img class="img-fluid mb-5" src="{% static 'exterior/img/portfolio/circus.png' %}" alt="">
                <p class="mb-5">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Mollitia neque assumenda ipsam nihil, molestias magnam, recusandae quos quis inventore quisquam velit asperiores, vitae? Reprehenderit soluta, eos quod consequuntur itaque. Nam.</p>
                <a class="btn btn-primary btn-lg rounded-pill portfolio-modal-dismiss" href="#">
                  <i class="fa fa-close"></i>
                  Close Project</a>
              </div>
            </div>
          </div>
        </div>
      </div>
  
      <!-- Portfolio Modal 4 -->
      <div class="portfolio-modal mfp-hide" id="portfolio-modal-4">
        <div class="portfolio-modal-dialog bg-white">
          <a class="close-button d-none d-md-block portfolio-modal-dismiss" href="#">
            <i class="fa fa-3x fa-times"></i>
          </a>
          <div class="container text-center">
            <div class="row">
              <div class="col-lg-8 mx-auto">
                <h2 class="text-secondary text-uppercase mb-0">Project Name</h2>
                <hr class="star-dark mb-5">
                <img class="img-fluid mb-5" src="{% static 'exterior/img/portfolio/game.png' %}" alt="">
                <p class="mb-5">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Mollitia neque assumenda ipsam nihil, molestias magnam, recusandae quos quis inventore quisquam velit asperiores, vitae? Reprehenderit soluta, eos quod consequuntur itaque. Nam.</p>
                <a class="btn btn-primary btn-lg rounded-pill portfolio-modal-dismiss" href="#">
                  <i class="fa fa-close"></i>
                  Close Project</a>
              </div>
            </div>
          </div>
        </div>
      </div>
  
      <!-- Portfolio Modal 5 -->
      <div class="portfolio-modal mfp-hide" id="portfolio-modal-5">
        <div class="portfolio-modal-dialog bg-white">
          <a class="close-button d-none d-md-block portfolio-modal-dismiss" href="#">
            <i class="fa fa-3x fa-times"></i>
          </a>
          <div class="container text-center">
            <div class="row">
              <div class="col-lg-8 mx-auto">
                <h2 class="text-secondary text-uppercase mb-0">Project Name</h2>
                <hr class="star-dark mb-5">
                <img class="img-fluid mb-5" src="{% static 'exterior/img/portfolio/safe.png' %}" alt="">
                <p class="mb-5">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Mollitia neque assumenda ipsam nihil, molestias magnam, recusandae quos quis inventore quisquam velit asperiores, vitae? Reprehenderit soluta, eos quod consequuntur itaque. Nam.</p>
                <a class="btn btn-primary btn-lg rounded-pill portfolio-modal-dismiss" href="#">
                  <i class="fa fa-close"></i>
                  Close Project</a>
              </div>
            </div>
          </div>
        </div>
      </div>
  
      <!-- Portfolio Modal 6 -->
      <div class="portfolio-modal mfp-hide" id="portfolio-modal-6">
        <div class="portfolio-modal-dialog bg-white">
          <a class="close-button d-none d-md-block portfolio-modal-dismiss" href="#">
            <i class="fa fa-3x fa-times"></i>
          </a>
          <div class="container text-center">
            <div class="row">
              <div class="col-lg-8 mx-auto">
                <h2 class="text-secondary text-uppercase mb-0">Project Name</h2>
                <hr class="star-dark mb-5">
                <img class="img-fluid mb-5" src="{% static 'exterior/img/portfolio/submarine.png' %}" alt="">
                <p class="mb-5">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Mollitia neque assumenda ipsam nihil, molestias magnam, recusandae quos quis inventore quisquam velit asperiores, vitae? Reprehenderit soluta, eos quod consequuntur itaque. Nam.</p>
                <a class="btn btn-primary btn-lg rounded-pill portfolio-modal-dismiss" href="#">
                  <i class="fa fa-close"></i>
                  Close Project</a>
              </div>
            </div>
          </div>
        </div>
      </div>


<div class="modal fade letra" id="login" tabindex="-1" role="dialog" aria-labelledy="modal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header colors">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true" style="color:white;">&times;</span>
                </button>
                <h5 class="modal-title">INICIAR SESIÓN</h5>
            </div>
            <!--<form action="" method="POST">
                  {% csrf_token %} 
                  <div class="modal-body">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-inline" data-validate="Usuario es campo requerido.">
                                  <span class="col-md-4">Usuario </span>
                                  <input class="form-control col-md-6" type="text" placeholder="Ingresa Usuario" id="usr" name="usr" required="">
                                  <span class="focus-input100"></span>
                                </div>

                                <div class="form-inline" data-validate = "Contraseña es campo requerido.">
                                  <span class="col-md-4">Contraseña</span>
                                  <input class="form-control col-md-6" type="password" placeholder="Ingresa Contraseña" id="pwd" name="pwd" required="">
                                  <span class="focus-input100"></span>
                                </div>                        
                            </div>
                        </div>
                  </div>
                  <div class="modal-footer">
                      <input type="submit" value="Ingresar" class="btn btn-primary col-md-4" id="entrar">
                      <button type="button" class="btn btn-danger aceptar" data-dismiss="modal">Cerrar</button>
                  </div>
            </form>-->
            <div class="row">
                <div class="col-md-1"></div>
                <div class="col-md-10">
                    <form action="" method="POST">
                        {% csrf_token %} 
                        <div class="control-group">
                          <div class="form-group floating-label-form-group controls mb-0 pb-2">
                            <label>Usuario:</label>
                            <input class="form-control" type="text" placeholder="Ingresa Usuario" id="usr" name="usr" required="" data-validation-required-message="Ingresa tu usuario.">
                            <p class="help-block text-danger"></p>
                          </div>
                        </div>
                        <div class="control-group">
                          <div class="form-group floating-label-form-group controls mb-0 pb-2">
                            <label>Contraseña:</label>
                            <input class="form-control" type="password" placeholder="Ingresa Contraseña" id="pwd" name="pwd" required="" data-validation-required-message="Ingresa tu contraseña.">
                            <p class="help-block text-danger"></p>
                          </div>
                      </div>
                      <div class="modal-footer">
                          <input type="submit" value="Ingresar" class="btn btn-primary col-md-4 " id="entrar">
                          <button type="button" class="btn btn-danger aceptar" data-dismiss="modal">Cerrar</button>
                      </div>
                    </form>
                </div>
                <div class="col-md-1"></div>
              </div>
        </div>
    </div>
</div>


{% endblock Body %}

{% block Script %} 
<script>
        $(document).ready(function()
        {
          $("#validar_email").hide();
    
        });
    
        $('#email').change(function (e) {
            var emailRegex = /^(([^<>()[\]\.,;:\s@\"]+(\.[^<>()[\]\.,;:\s@\"]+)*)|(\".+\"))@(([^<>()[\]\.,;:\s@\"]+\.)+[^<>()[\]\.,;:\s@\"]{2,})$/i;
            var EmailId = this.value;
            if (emailRegex.test(EmailId)){
                this.style.backgroundColor = "";
                $("#validar_email").hide();
            }else{
                this.style.backgroundColor = "LightPink";
                $("#validar_email").show();
            }
        });
</script>
{% endblock Script %}