{% extends "baseExterior.html" %}
{% load staticfiles %}

	{% block Titulo %}
		Registro Clientes
	{% endblock Titulo %}

	{% block CSS %}
		<link rel="stylesheet" type="text/css" href="{% static "personalizado/css/registrarCliente.css" %}">
		<style type="text/css">
		.label-input100 {
		  font-family: Poppins-Regular;
		  font-size: 12px;
		  color: #808080;
		  line-height: 1;
		  text-align: right;

		  position: absolute;
		  top: 14px;
		  left: -105px;
		  width: 80px;

		}

		.input100 {
			font-family: Poppins-Regular;
			font-size: 12px;
			color: #555555;
			line-height: 0.5;

			display: block;
			width: 100%;
			background: transparent;
			padding: 0 0px;
		}

		.form-control{
			font-size: 12px;
			height: 30px;
			padding: 5px;
			width: 100%;
		}

		</style>
	{% endblock CSS %}

	{% block Body %}
    <div class="limiter">
		<div class="container-login100">
			<div class="wrap-login100">
					<div class="login100-form-title">
						<span class="login100-form-title-1">
							<h2>SIGN UP</h2>
						</span>
					</div>
				<!-- Formulario -->
			<b><center>{{validar}}</center></b>

			<form class="login100-form validate-form" action="" method="POST" role="form" enctype="multipart/form-data" accept-charset="UTF-8">
	            {% csrf_token %}

	            <div class="wrap-input100 validate-input m-b-26" data-validate="Nombre es un campo requerido.">
					<span class="label-input100">Nombre </span>
					<input class="input100" type="text" placeholder="Ingresa Nombre" id="nombre" name="nombre" pattern="[a-zA-Z]{1-15}">
					<span class="focus-input100"></span>
				</div>

	            <div class="wrap-input100 validate-input m-b-26" data-validate="Apellido es uncampo requerido.">
					<span class="label-input100">Apellido </span>
					<input class="input100" type="text" placeholder="Ingresa Apellido" id="apellido" name="apellido" pattern="[a-zA-Z]{1-15}">
					<span class="focus-input100"></span>
				</div>

	            <div class="wrap-input100 validate-input m-b-26" data-validate="Sexo es uncampo requerido.">
					<span class="label-input100">Sexo</span>
	                <select id="sexo" class="form-control custom-select"  name="sexo">
	                    <option id="masculino" value="masculino">Masculino</option>
	                    <option id="femenino" value="femenino">Femenino</option>
					</select>
					<span class="focus-input100"></span>
				</div>

				<div class="wrap-input100 validate-input m-b-26" data-validate="Correo es un campo requerido.">
					<span class="label-input100">Correo</span>
					<input class="input100" type="email" placeholder="Ingresa Correo" id="correo" name="correo">
					<span class="focus-input100"></span>
				</div>


				<div class="wrap-input100 validate-input m-b-26" data-validate="Usuario es campo requerido.">
					<span class="label-input100">Usuario</span>
					<input class="input100" type="text" placeholder="Ingresa Usuario" id="usr" name="usr">
					<span class="focus-input100"></span>
				</div>

				<div class="wrap-input100 validate-input m-b-18" data-validate = "Contraseña es campo requerido.">
					<span class="label-input100">Contraseña</span>
					<input class="input100" type="password" placeholder="Ingresa Contraseña" id="pwd" name="pwd">
					<span class="focus-input100"></span>
				</div>

				<div class="wrap-input100 validate-input m-b-18" data-validate = "Contraseña es campo requerido.">
					<span class="label-input100">Verificar Contraseña</span>
					<input class="input100" type="password" placeholder="Ingresa Contraseña de Verificación" id="pwd2" name="pwd2">
					<span class="focus-input100"></span>
				</div>

				<div class="container-login100-form-btn">
					<button class="login100-form-btn" type="submit">
								Registrarse
					</button>
				</div>

	        </form>
	        
		</div>
	</div>
	</div>
	{% endblock Body %}

